<html>
	<head>
		<title>Asset Health Monitor</title>
		{% load staticfiles %}
		

		<link rel="shortcut icon" href='{% static "theme/img/ff1.ico" %}'>
		<link rel="stylesheet" href='{% static "theme/css/datatable/demo_page.css" %}' />
		<link rel="stylesheet" href='{% static "theme/css/datatable/demo_table.css" %}' />
		<link rel="stylesheet" href='{% static "theme/css/foundation.css" %}' />
		<link rel="stylesheet" href='{% static "theme/css/charts/nv.d3.css" %}' />
		<link rel="stylesheet" href='{% static "theme/css/flutura-style.css" %}' />
		<link rel="stylesheet" href='{% static "theme/css/philips-style.css" %}' />	
		<link rel="stylesheet" href='{% static "theme/css/flutura1.css" %}' />
		<link rel="stylesheet" href='{% static "theme/css/aplication2.css" %}' />
		<link rel="stylesheet" href='{% static "theme/css/foundation-datepicker.css" %}' />
		

		
		<link href='{% static "theme/images" %}' />

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>				<!-- Morris -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>			<!-- Morris -->
					
		<script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>		<!-- Morris -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
		<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
		<link rel="stylesheet" href='{% static "theme/css/please-wait.css" %}' /> 
		 
		 
		<script src="http://www.datejs.com/build/date.js" type="text/javascript"></script>
		
		
		<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/zf/dt-1.10.11/datatables.min.css"/>
		<script type="text/javascript" src="https://cdn.datatables.net/t/zf/dt-1.10.11/datatables.min.js"></script>
		<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script> -->
		
	</head>	
	<body>
		<div class="off-canvas-wrap">
			<div class="inner-wrap">
				<!-- Top header -->
				<nav class="top-bar" data-topbar="">
					<div class="lc small-2 columns logo">		<!-- LOGO -->
						<div class="large-12 medium-12 small-12 columns" title="Philips"></div>
					</div>
					<!--<div class="waiting" id="progress"> -->		<!-- Progress Bar -->
					<!--</div>-->
				
					<div class="rc small-10 columns top-menu ">	
						<div class="large-10 medium-8 small-6 columns no-padding">  <!-- TITLE -->
							<span class="title1">Asset Health Monitor</span>										
						</div>	
						<div class="large-2 medium-4 small-6 columns">
							<ul class="user-menu" title="User Name" style="margin:3px;float:right;">
								<li href="#" data-options="align:right" data-dropdown="drop1" aria-controls="drop1" title="User Name" style="cursor:pointer;padding-right:0px;">
									<img src='{% static "theme/img/user1.png" %}'>
									<span class="user a" >User</span>
								</li>
							</ul>						
						</div>
					</div>
					
					
				</nav>
				<div >
					<ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" >
						<li id="account" style="border-bottom: 1px solid #F0F0F0;"><i class="fa fa-cog" ></i> &nbsp;Account Settings </li>
						<li id="account"><i class="fa fa-sign-out" ></i> &nbsp;Sign Out </li>
					</ul>
				</div>				
			</div>
			<!-- End Top header -->
			<!-- Start Main Container -->
			<section class="main">
				<div class="lc small-2 columns left-menu"><ul></ul></div>
				<div class="menu-extend"></div>
				<div class="rc small-10 columns wrapper">
					<div class="filter-bar">
						<ul class="inline-list right">
								{% block filter %}
								
								{% endblock %}
							
							<li class="inline-list right ts" style="padding-left:0px;padding-right:22px;padding-top: 4px;"><span><span> Last Sync: </span><span class="bold" id="time"></span><span >{% now "  d M o"%} </span></li>
							<ul class="inline-list right" >
								<select style="padding: 0px;">
										<optgroup label="Select the places">
											<option value="icon-adjust">Malpe</option>
											<option value="icon-bar-chart">Maravanthe </option>
											<option value="icon-asterisk" >Bangalore </option>
											<option value="icon-ban-circle" >Chennai </option>
											<option value="icon-barcode" >Indore </option>
										</optgroup>
								</select>
							</ul>								
						</ul>
					</div>
					<div class="main-container" id="main_container">
						{% block main-container %}{% endblock %}
					</div>
				</div>
			</section>
				<!-- End Main Container -->
			<section class="copyright">
						<span class="left">Powered by Cerebra Signal Studio<sup>TM</sup></span>
						<span class="right">Copyright &copy 2016 Flutura Business Solutions Pvt Ltd. All Rights Reserved.</span>
			</section>
						
		</div>		
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src='{% static "theme/js/foundation.min.js" %}' ></script>
		<script src='{% static "theme/js/please-wait.min.js" %}' ></script> 
		<script src='{% static "theme/js/datatable/jquery.dataTables.js" %}' ></script>
		<script src='{% static "theme/js/datatable/datatabepaginationellipses.js" %}' ></script>
		<script src="http://maps.googleapis.com/maps/api/js"></script>
		<script src='{% static "theme/js/left-bar.js" %}' ></script> 	
		<script src='{% static "theme/js/flutura.js" %}' ></script>
		<script src='{% static "theme/js/charts.js" %}'></script> 				<!-- Morris-chart -->
		<script src='{% static "health_moniter/solar-func.js" %}'></script>
		<!-- <script src='{% static "theme/js/morris/morris.js" %}' ></script> -->			<!-- Morris JS -->
		<!-- <script src='{% static "theme/js/morris/morris.min.js" %}' ></script> -->		<!-- Morris.min JS --> 
		<script src='{% static "theme/js/charts/nv.d3.js" %}' ></script>
		<script src='{% static "theme/js/charts/highcharts.js" %}' ></script>
		<script src='{% static "theme/js/chartjs/Chart.js" %}' ></script>
		<script src='{% static "theme/js/chartjs/Chart.min.js" %}' ></script> 
		<script src='{% static "theme/js/don.js" %}' ></script> 
		<!-- <link rel="stylesheet" href='{% static "theme/css/jquery.dataTables.css" %}' />
		<script src='{% static "theme/js/foundation-datepicker.js" %}' ></script> -->

		<link rel="stylesheet" href='{% static "theme/css/responsive.foundation.min.css" %}' />
		<link rel="stylesheet" href='{% static "theme/css/dataTables.foundation.min.css" %}' />
		<link rel="stylesheet" href='{% static "theme/css/jquery.dataTables.min.css" %}' />
		<script src='{% static "theme/js/jquery.dataTables.min.js" %}' ></script>
		<script src='{% static "theme/js/dataTables.responsive.min.js" %}' ></script>
		<script src='{% static "theme/js/responsive.foundation.min.js" %}' ></script>		
		<script src='{% static "theme/js/dataTables.fixedHeader.min.js" %}' ></script>		
		<!-- <script src='{% static "theme/js/dataTables.foundation.min.js" %}' ></script>		 -->
		

	</body>
</html>