{% extends "flutura-theme/theme.html" %}
{% block main-container %}
{% load staticfiles %}

<div class="large-12 columns no-padding pad-right" >
	<div class="large-12 medium-12 small-12 container" style="height:573px">
		<div class="large-12 medium-12 small-12" style="height:40%; border-bottom:2px solid #BE2C21;background-color:#fff">
			<div class="columns header">
				<div class="columns title"><span><i class="fa fa-list" style="color:#BE2C21"></i></span>&nbsp Log Overview</div></div>
				 <div class="body"> 
					<div  class="large-6 medium-6 small-12" style="border:1px solid grey;height:150px;border-radius:5px;position:relative;right:12px;width:47%;float:right">
						<div class="columns header">
						<div class="columns title"><span><i class="fa fa-hand-o-right" style="color:#BE2C21"></i></span>&nbsp Recommended Actions</div></div>
					</div>
					<div  class="large-6 medium-6 small-12" style="border:1px solid black;height:150px;border-radius:5px;float:right;position:relative;left:-24px;width:50%;right:-4px">
						
					</div> 
				 </div> 
		</div>
		<div class="large-12 medium-12 small-12" style="height:45%; background-color:white;margin-top:1em;border-bottom: 2px solid #18bd9b">
			<div class="columns header">
				<div class="columns title"><span><i class="fa fa-sun-o" style="color:#18bd9b"></i></span>&nbsp Generation
				
					<ul class="nav nav-pills" style="float:right">
						<li class="active"><a href="#">Today</a> &nbsp
						<a href="#">Custom Date</a>&nbsp
						<a href="#">Weekly Avg</a>
						
					</ul>
				
				</div></div>
			<div class="body" style="border-bottom: 2px solid #18bd9b;">
			
				<div class="large-3 medium-6 small-12 columns" style="padding-top:1em">
				<ul>
					<li style="border-bottom:1px solid #ddd"><span>Irradiance</span>
						<!-- <span class="custom-check" style="float:right;padding:5px;height:20px;">
						<input type="checkbox" id="click1" value="a6"></span> -->
							<div class="checkbox" style="float:right;padding:5px;height:20px;">
								<span class="custom-check" ><input type="checkbox" id="checkbox1" style="background-color:red">
								<label for="checkbox1">
								
								</label><span>
							  
							</div>		
						<span style="padding-left:3em">1022</span>
						<span class="small-text"> w/m <sup> 2 </sup></span>
						
					</li>
					<li style="border-bottom:1px solid #ddd"><span>Solar Voltage</span>
						<!-- 	<span style="float:right;padding:5px;height:22px;">
						<input type="checkbox" id="click1" value="a5"></span> -->
						
							<div class="checkbox" style="float:right;padding:5px;height:20px;">
								<span class="custom-check" ><input type="checkbox" id="checkbox2" style="background-color:red">
									<label for="checkbox2">
								
									</label><span>
							  
							</div>		
						<span style="padding-left:2.8em">104.3</span>
						<span class="small-text"> V </span>
						
					</li>
					<li style="border-bottom:1px solid #ddd"><span>Solar Current</span>
					<!-- <span style="float:right;padding:5px;height:22px;">
						<input type="checkbox" id="click2" value="a4"></span> -->
						
							<div class="checkbox" style="float:right;padding:5px;height:20px;">
								<span class="custom-check" ><input type="checkbox" id="checkbox3" style="background-color:red">
									<label for="checkbox3">
								
									</label><span>
							  
							</div>	
						
						<span style="padding-left:2.8em">10.01</span>
						<span class="small-text"> A </span>
					</li>
					<li style="border-bottom:1px solid #ddd"><span>Solar Power</span>
						<!-- <span style="float:right;padding:5px;height:22px;">
						<input type="checkbox" id="click3" value="a3"></span> -->
						<div class="checkbox" style="float:right;padding:5px;height:20px;">
							<span class="custom-check" ><input type="checkbox" id="checkbox4" style="background-color:red">
								<label for="checkbox4">
								
								</label><span>
							  
						</div>	
						
						<span style="padding-left:2.6em">1004.0</span>
						<span class="small-text"> W </span>
					</li>
					<li style="border-bottom:1px solid #ddd"><span>Solar Energy</span>
						<!-- <span style="float:right;padding:5px;height:22px;">
						<input type="checkbox" id="click4" value="a2"></span> -->
						<div class="checkbox" style="float:right;padding:5px;height:20px;">
								<span class="custom-check" ><input type="checkbox" id="checkbox5" style="background-color:red">
									<label for="checkbox5">
								
									</label><span>
							  
							</div>	
						
						<span style="padding-left:2.8em">1.44</span>
						<span class="small-text"> AH </span>
					</li>
					<li style="border-bottom:1px solid #ddd"><span>Panel Efficiency</span>
						<!-- <span style="float:right;padding:5px;height:22px;">
						<input type="checkbox" id="click5" value="a1"></span> -->
						<div class="checkbox" style="float:right;padding:5px;height:20px;">
								<span class="custom-check" ><input type="checkbox" id="checkbox6" style="background-color:red">
									<label for="checkbox6">
								
									</label><span>
							  
							</div>	
						
						<span style="padding-left:1.6em">1.44</span>
						<span class="small-text"> AH </span>
					</li>
						
				</ul>
				</div>
				<div class="large-9 medium-6 small-12" style="width:70%;float:right;">
				<div id="g1" style="height:200px;">
				</div>
					
				</div>
				
			</div>
		</div>
	<div class="large-12 medium-12 small-12" style="height:45%; background-color:white;margin-top:2em;border-bottom: 2px solid #18bd9b">
			<div class="columns header">
				<div class="columns title"><span><i class="fa fa-battery-half" style="color:#18bd9b"></i></span>&nbsp Solar Battery
				<ul class="nav nav-pills" style="float:right">
						<li class="active"><a href="#">Today</a> &nbsp
						<a href="#">Custom Date</a>&nbsp
						<a href="#">Weekly Avg</a>
						
					</ul>
				
				</div>
				</div>
			<div class="body" style="border-bottom: 2px solid #18bd9b">
			
				<div class="large-3 medium-6 small-12 columns" style="padding-top:1em">
				<ul>
					<li style="border-bottom:1px solid #ddd"><span>Battery Mode</span>
						<!-- <span style="float:right;padding:5px;height:20px;">
						<input type="checkbox"  value="a6"></span> -->
						<div class="checkbox" style="float:right;padding:5px;height:20px;">
								<span class="custom-check" ><input type="checkbox" id="checkbox7" style="background-color:red">
									<label for="checkbox7">
								
									</label><span>
							  
							</div>	
						
						
						<span style="padding-left:1.6em">Absorption</span>
					
						
					</li>
					<li style="border-bottom:1px solid #ddd"><span>Battery Voltage</span>
						<!-- <span style="float:right;padding:5px;height:22px;">
						<input type="checkbox"  value="a5"></span> -->
						<div class="checkbox" style="float:right;padding:5px;height:20px;">
								<span class="custom-check" ><input type="checkbox" id="checkbox8" style="background-color:red">
									<label for="checkbox8">
								
									</label><span>
							  
						</div>	
						
						<span style="padding-left:2.7em">105.3</span>
						<span class="small-text"> V </span>
						
					</li>
					<li style="border-bottom:1px solid #ddd"><span>Battery Current</span>
						<!-- <span style="float:right;padding:5px;height:22px;">
						<input type="checkbox"  value="a4"></span> -->
						<div class="checkbox" style="float:right;padding:5px;height:20px;">
							<span class="custom-check" ><input type="checkbox" id="checkbox9" style="background-color:red">
								<label for="checkbox9">
								
								</label><span>
							  
						</div>	
						
						<span style="padding-left:3em">9.92</span>
						<span class="small-text"> A </span>
					</li>
					<li style="border-bottom:1px solid #ddd"><span>Solar Power</span>
						<!-- <span style="float:right;padding:5px;height:22px;">
						<input type="checkbox"  value="a3"></span> -->
						<div class="checkbox" style="float:right;padding:5px;height:20px;">
							<span class="custom-check" ><input type="checkbox" id="checkbox10" style="background-color:red">
								<label for="checkbox10">
								
								</label><span>
							  
						</div>	
						
						<span style="padding-left:3em">1051.0</span>
						<span class="small-text"> W </span>
					</li>
					<li style="border-bottom:1px solid #ddd"><span>Battery Energy +ve</span>
						<!-- <span style="float:right;padding:5px;height:22px;">
						<input type="checkbox"  value="a2"></span> -->
						<div class="checkbox" style="float:right;padding:5px;height:20px;">
							<span class="custom-check" ><input type="checkbox" id="checkbox11" style="background-color:red">
								<label for="checkbox11">
								
								</label><span>
							  
						</div>	
						
						<span style="padding-left:0.4em">13.44</span>
						<span class="small-text"> AH </span>
					</li>
					<li style="border-bottom:1px solid #ddd"><span>Battery Energy -ve</span>
						<!-- <span style="float:right;padding:5px;height:22px;">
						<input type="checkbox"  value="a1"></span> -->
						<div class="checkbox" style="float:right;padding:5px;height:20px;">
							<span class="custom-check" ><input type="checkbox" id="checkbox12" style="background-color:red">
								<label for="checkbox12">
								
								</label><span>
							  
						</div>	
						
						<span style="padding-left:0.6em">16.46</span>
						<span class="small-text"> AH </span>
					</li>
					<li style="border-bottom:1px solid #ddd"><span>component voltage</span>
						<!-- <span style="float:right;padding:5px;height:22px;">
						<input type="checkbox"  value="a1"></span> -->
						<div class="checkbox" style="float:right;padding:5px;height:20px;">
							<span class="custom-check" ><input type="checkbox" id="checkbox13" style="background-color:red">
								<label for="checkbox13">
								
								</label><span>
							  
						</div>	
						<span style="padding-left:0.4em">101.4</span>
						<span class="small-text"> AH </span>
					</li>
						
				</ul>
				</div>
				<div class="large-9 medium-6 small-12"></div>
				
			</div>
			
		</div>
		<div class="large-12 medium-12 small-12" style="height:35%; background-color:white;margin-top:1em;border-bottom: 2px solid #18bd9b">
			<div class="columns header">
				<div class="columns title"><span><i class="fa fa-sun-o" style="color:#18bd9b"></i></span>&nbsp Consumption
				
					<ul class="nav nav-pills" style="float:right">
						<li class="active"><a href="#">Today</a> &nbsp
						<a href="#">Custom Date</a>&nbsp
						<a href="#">Weekly Avg</a>
						
					</ul>
				</div>
			</div>
			<div class="body" >
			
				<div class="large-3 medium-6 small-12 columns" style="padding-top:1em">
				<ul>
					<li style="border-bottom:1px solid #ddd"><span>Load Voltage</span>
						<!-- <span style="float:right;padding:5px;height:20px;">
						<input type="checkbox"  value="a6"></span> -->
						<div class="checkbox" style="float:right;padding:5px;height:20px;">
							<span class="custom-check" ><input type="checkbox" id="checkbox14" style="background-color:red">
								<label for="checkbox14">
								
								</label><span>
							  
						</div>	
						<span style="padding-left:3em">195.3</span>
						<span class="small-text"> V</span>
						
					</li>
					<li style="border-bottom:1px solid #ddd"><span>Load Current</span>
						<!-- 	<span style="float:right;padding:5px;height:22px;">
						<input type="checkbox"  value="a5"></span> -->
						<div class="checkbox" style="float:right;padding:5px;height:20px;">
							<span class="custom-check" ><input type="checkbox" id="checkbox15" style="background-color:red">
								<label for="checkbox15">
								
								</label><span>
							  
						</div>	
						<span style="padding-left:3.8em">0.44</span>
						<span class="small-text"> A </span>
						
					</li>
					<li style="border-bottom:1px solid #ddd"><span>Load Power</span>
					<!-- <span style="float:right;padding:5px;height:22px;">
						<input type="checkbox"  value="a4"></span> -->
						<div class="checkbox" style="float:right;padding:5px;height:20px;">
							<span class="custom-check" ><input type="checkbox" id="checkbox16" style="background-color:red">
								<label for="checkbox16">
								
								</label><span>
							  
						</div>	
						<span style="padding-left:3.4em">84.92</span>
						<span class="small-text"> W </span>
					</li>
					<li style="border-bottom:1px solid #ddd"><span>Load Energy</span>
						<!-- <span style="float:right;padding:5px;height:22px;">
						<input type="checkbox"  value="a3"></span> -->
						<div class="checkbox" style="float:right;padding:5px;height:20px;">
							<span class="custom-check" ><input type="checkbox" id="checkbox17" style="background-color:red">
								<label for="checkbox17">
								
								</label><span>
							  
						</div>	
						<span style="padding-left:3.5em">1.22</span>
						<span class="small-text"> AH</span>
					</li>
					
						
				</ul>
				</div>
				<div class="large-9 medium-6 small-12">
					
					
					
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	$(".cust-info").click(function(){
		if($(this).attr("link") != "")
			$(".main-container").load($(this).attr("link") + ".html");
	});
	$('.tab-links').click(function(){
		parentid =$(this).parent().attr('id');
		$('#'+parentid+' .tab-links').removeClass('active-links');
		$(this).addClass('active-links');
	});	

	
</script>

{% endblock %}