{% extends "flutura-theme/theme.html" %}
{% block main-container %}
{% load staticfiles %}


	<div class="large-12 medium-12 small-12 columns  no-padding ">
		<div class="large-12 medium-12 small-12 container" style="height:300px;border-top:2px solid rgba(240, 65, 36, 0.46);border-radius:3px;">
			<div class="columns header" style="background-color:#fff;">
				<div class="large-12 medium-12 small-12 columns title"><span><i class="fa fa-area-chart" style="color:rgba(51, 122, 164, 0.95);"></i></span>&nbsp;Consumption page</div>	
			</div>
			<div class="columns body" style="padding:0px;height:254px;">
				<div class="large-3 medium-6 small-6 columns" style="border-right:1px solid #ddd;height:100%;padding:10px;">
					<ul style="padding:5px;">
						
						<li style="padding-bottom:10px;"><span>Start Date:&nbsp;<input type="" id="datepicker-13" style="height:20px;width:40%;float:right;"/>&nbsp;&nbsp;</span> </li>
						
						<li style="padding-bottom:10px;"><span>End Date:&nbsp;<input type="" id="datepicker-14" style="height:20px;width:40%;float:right;"/>&nbsp;&nbsp;</span> </li>						
						
						<li style="padding-bottom:10px;">
							<span>Select Parameter(s):&nbsp					
							<span><select id="myselect1" style="width:40%;float:right;">
										<optgroup label="Select the places">
											<option value="SOLARPOWER">SOLARPOWER</option>
											<option value="SOLARVOLTAGE">SOLARVOLTAGE </option>
											
										</optgroup></span>
							</select></span>
						</li>
						<li>
							<span>Select Vector(s):&nbsp;
							<span><select id="myselect2" style="width:40%;float:right;">
										<optgroup label="Select the places">
											<option value="SOLARVOLTAGE">SOLARVOLTAGE</option>
											<option value="SOLARPOWER">SOLARPOWER </option>
											
										</optgroup>
								</select></span> </span>
						</li>						
					</ul>
				</div>
				<div class="large-9 medium-6 small-6 columns" id="scatter" style="min-width:210px;height: 252px; margin: 0 auto">
				</div>
				
			</div>
		</div>
	</div>	

	<div class="large-12 medium-12 small-12 columns  no-padding ">
		<div class="large-12 medium-12 small-12 container" style="height:300px;border-top:2px solid green;border-radius:3px;">
			<div class="columns header" style="background-color:#fff;">
				<div class="large-12 medium-12 small-12 columns title"><span><!-- <i class="fa fa-area-chart" style="color:rgba(51, 122, 164, 0.95);"></i> --></span>Metric Cross-sectional Comparison</div>	
			</div>
			<div class="columns body" style="padding:0px;height:254px;">
				<div class="large-3 medium-6 small-6 columns" style="border-right:1px solid #ddd;height:100%;padding:10px;">
					<ul style="padding:5px;">
						
						<li style="padding-bottom:10px;"><span>Start Date:&nbsp;<input type="text" id="datepicker-15" style="height: 25px;margin:0px;width:40%;float:right;"/>&nbsp;&nbsp;</span> </li>
						
						<li style="padding-bottom:10px;"><span>End Date:&nbsp;<input type="text" id="datepicker-16" style="height: 25px;margin:0px;width:40%;float:right;"/>&nbsp;&nbsp;</span> </li>						
						
						<li style="padding-bottom:10px;">
							<span>Select Parameter(s):&nbsp					
							<span><select id="myselect" style="width:40%;float:right;">
										<optgroup label="Select the places">
											<option value="SOLARPOWER">Solar Power</option>
											<option value="SOLARVOLTAGE">Solar Voltage</option>
											<option value="SOLARCURRENT">Solar Current</option>
											<option value="BATTERYPOWER">Battery Power</option>
											<option value="BATTERYVOLTAGE">Battery Voltage</option>
											<option value="BATTERYCURRENT">Battery Current</option>
											<option value="LOADPOWER">Load Power</option>
											<option value="LOADVOLTAGE">Load Voltage</option>
											<option value="LOADCURRENT">Load Current</option>
										</optgroup></span>
							</select></span>
						</li>
						
					</ul>
				</div>
				<div class="large-9 medium-6 small-6 columns" id="container" style="min-width: 210px; height: 252px; margin: 0 auto">
				</div>
			</div>
		</div>
	</div>
	
	
	
<script>
	$(".cust-info").click(function(){
		if($(this).attr("link") != "")
			$(".main-container").load($(this).attr("link") + ".html");
	});
	
	$('.tab-links').click(function(){
		parentid =$(this).parent().attr('id');
		//alert(parentid);
		$('#'+parentid+' .tab-links').removeClass('active-links');
		$(this).addClass('active-links');
		//alert($(this).text());
	
	});
</script>
{% endblock %}