{% extends "flutura-theme/theme.html" %}
{% block main-container %}
{% load staticfiles %}



<div class="large-12 medium-12 small-12 columns no-padding pad-right">
	<div class="large-12 medium-12 small-12 container" style="height:90%">
			<div class="columns header" style="background-color:#white;">
				<div class="columns title"><span><i class="fa fa-industry"></i></span>&nbsp;Review Previous Log</div>
			</div>
			
			<div class="columns body" style="height:100%;background-color:#white" ><fieldset>
				<div class="large-12 medium-12 small-12 columns" style="height:15%">
					<div class="large-6 small-12 columns" style="position:relative;top:2em">
						<span>StartDate:</span> <input type="text" id="datepicker" style="width:30%;display:inline"> &nbsp &nbsp
						<span>EndDate:</span> <input type="text" id="picker" style="width:30%;display:inline">
					</div>
					
				</div>
				<div class="large-12 medium-12 small-12 columns" style="margin-top:5em">
					<div class="large-6 small-6 columns" style="height:70%">
						<span class="columns title" style="padding-left:0px">List of Entries</span>
					</div>
					<div class="large-6 small-12 columns">
							<fieldset style="width:60%;height:70%;position:relative;top:2px"></fieldset>
					</div>
				</div>
			</div></fieldset>
	</div>
</div>


<script>
  $(function() {
    $( "#datepicker" ).datepicker();
	$( "#picker" ).datepicker();
  });
  </script>




<script>
	$(".cust-info").click(function(){
		if($(this).attr("link") != "")
			$(".main-container").load($(this).attr("link") + ".html");
	});
	$('.tab-links').click(function(){
		parentid =$(this).parent().attr('id');
		$('#'+parentid+' .tab-links').removeClass('active-links');
		$(this).addClass('active-links');
	});	

</script>


{% endblock %}
