{% extends "flutura-theme/theme.html" %}
{% block main-container %}
{% load staticfiles %}



<!----------------------------------------------------------------------------------------------------------------------------------->
	
	<div class="large-12 medium-12 small-12 columns  no-padding pad-right">
		<div class="large-12 medium-12 small-12 container" style="height:520px;">
			<div class="columns header" style="background-color:#fff;">
				<div class="columns title" ><span><i class="fa fa-user" style="color:#007095;"></i></span>&nbsp;Site Visit Log</div>
			</div>
			<div class="columns body"  style="height:472px;padding:0px;">
					<div class="large-6 medium-6 small-6 columns" style="height:100%;text-align: center;box-shadow:7px 1px 19px -5px #ddd;">
									
						<a href="http://fluturaappsdev.cloudapp.net:8050/health_moniter/Create_Log" class="button round sitelogbutton">Create New Log</a>
						
						<a href="http://fluturaappsdev.cloudapp.net:8050/health_moniter/Review_Log" class="button round sitelogbutton1" >Review Previous Logs</a>
											
					</div>
					<div class="large-6 medium-6 small-6 columns" style="padding-right:0px;">
					
						<table style="border-collapse:collapse;box-shadow:7px 1px 19px -5px #ddd;margin-bottom:10px;">
						
						<tr style="height: 30px;background-color:#008CBA !important;">
							<!-- <th style="color:transparent;">Latest Entry</th> -->
							<!-- <th style="color:transparent;">a</th> -->
							<th style="color:white;">Latest Entry</th>
							<th style="color:transparent;">c</th> 
						</tr>
				
						<tr class="bot">
							<th>Site:</th>
							<td id="site"></td>
						</tr>
						<tr class="bot">	
							<th>Date of Visit:</th>
							<td id="date"></td>
						</tr>
						<tr class="bot">
							<th>Performed by:</th>
							<td id="name"></td>
						</tr>
						<tr>	
							<th>Visit Type:</th>
							<td id="visit_type"></td>
						</tr>
							
						</table>
						<table style="box-shadow:7px 1px 19px -5px #ddd;">	
						<tr style="height: 30px;background-color:yellowgreen !important;padding:0px;">
							<th style="color:white;">Asset Name</th>
							<th style="color:white;">Asset Condition </th>
							<th style="color:white;">Actions Performed</th>
						</tr>
						<tr class="bot">
							<td><b>PV Panel 1</b></td>
							<td id="panel1"></td>
							<td id="action1"></td>
						</tr>
						<tr class="bot">
							<td><b>PV Panel 2</b></td>
							<td id="panel2"></td>
							<td id="action2"></td>
						</tr>
						<tr class="bot">
							<td><b>SID Unit</b></td>
							<td id="sid_unit"></td>
							<td id="action3"></td>
						</tr>
						<tr class="bot">
							<td><b>Batteries</b></td>
							<td id="Batteries"></td>
							<td id="action4"></td>
						</tr>
						<tr class="bot">
							<td><b>Inverter</b></td>
							<td id="Inverter"></td>
							<td id="action5"></td>
						</tr>
						<tr class="bot">
							<td><b>Load</b></td>
							<td id="Load"></td>
							<td id="action6"></td>
						</tr>
						
						</table>	
					
					</div>					
			</div>
		</div>
	</div>	
	

	
	
	
	
	
	
	
	
	

<script>
	$(".cust-info").click(function(){
		if($(this).attr("link") != "")
			$(".main-container").load($(this).attr("link") + ".html");
	});
	
	$('.tab-links').click(function(){
		parentid =$(this).parent().attr('id');
		//alert(parentid);
		$('#'+parentid+' .tab-links').removeClass('active-links');
		$(this).addClass('active-links');
		//alert($(this).text());
	
	});
</script>
{% endblock %}