#div-height{
	height:202px;
}
#div-height1{
	height:250px;
}
.tab-links1 {
   /*  padding: 5px 10px 4px 10px; */
   padding:3px;
    background: #ddd;
    position: relative;
    top: 10px;
    cursor: pointer;
    float: right;
    border-bottom: 2px solid #ddd;
	border-right: 1px solid #D0C8C8
}
