@import url("/static/theme/css/fontawesome/font-awesome.css");
@import url("/static/theme/css/weathericon/weather-icons.css");

.top-menu ul li{
	padding: 5px;
    margin-left:1rem;
}
.top-menu ul li i{
	font-size: 16px;
	position: relative;
    left: -9px;
	color: #9C9C9C;
}
.alert,.notification{
	padding: 7px 8px;
    position: absolute;
    top: 12px;
    z-index: 107;
    border-radius: 3em;
    display: inline-block;
    padding: 2px 6px;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 18px;
}

.notification{
	background:rgba(255, 228, 32, 0.93)
}
.alert{
	    background: #F3847C;
}