@import url("/static/theme/css/foundation.min.css");
@import url("/static/theme/css/normalize.css");
@import url("http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css");
@import url("https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin,greek,greek-ext,vietnamese");
/* Theme */

/* .yellow{background:#ecc40d;} */
.yellow{background: #7266BA;}
/* .blue{background:#309ad8;} */
.blue{background: #23b7e5;}
/* .red{background:#e94d41;} */
.red{background: #E36159;}
/* .green{background:rgb(61, 154, 135);} */
.green{background:#16A99F;}
.orange{background:#fb9800;}
.yellow-light{background: rgba(241, 204, 117, 0.97);}

/* .yellow-d{background:#C7A610;} */
.yellow-d{background: #5647B1;}
/* .blue-d{background:rgba(51, 122, 164, 0.95);} */
.blue-d{background: #03A4D6;}
/* .red-d{background:#BE2C21;} */
.red-d{background: #D8524A;}
/* .green-d{background:#18bd9b;} */
.green-d{background: #2BBAB1;}
.orange-d{background:#fb9800;}


.app-name{
	font-family : Roboto;
	font-size:24px;
}
ul{list-style:none;margin:0px;}
.inline-list{margin:0px;}
.title{
	font-family : Roboto;
	/* font-size:18px; */
	font-size:14px;
	
}
p{
margin:0;
line-height:1;
}
body {
	background:#fff;
	font-size:12px;
	overflow:hidden;
}
.small-text{
	font-size:12px;
}
ul{margin:0px;}
.tc{color:#1ABC9C;}
.tb{background:#ECC40D;}

@media only screen and (min-width: 40.0625em){
	.lc{
		float:left;
		width:6%;
		overflow:hidden;
		padding:0px;
	}	
	.rc{
		float:left;
		width:94%;
		overflow:hidden;
		padding:0px;
	}
}
@media only screen and (min-width: 64.0625em){
	.lc{
		float:left;
		width:6%;
		overflow:hidden;
		padding:0px;
	}	
	.rc{
		float:left;
		width:94%;
		overflow:hidden;
		padding:0px;
	}
}
.no-padding{padding: 0px;}
.pad-right{padding-right: 10px;}
/* Header */
.top-bar{
	background: #fff;
    height: 60px;
    overflow: hidden;
    box-shadow: 1px 0px 1px 0px #DEDEDE;
    z-index: 2;
	
}
.logo{height: inherit;}
.logo div{
    width: 45px;
    height: 45px;
    background-image: url("/static/theme/img/p2.jpg");
    background-size: 45px 45px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
	background-repeat: no-repeat;
    margin: 8px 10px 0 15px;
	
}
.top-menu{padding:8px;height: inherit;}
.top-menu ul{
	margin: 10px 20px;
}
/* Content Area */
/* Left Menu */
.left-menu {background:#fff;min-height:91vh;}
.left-menu ul{width:100%;}
.left-menu ul li{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #DEDEDE;
    text-align: center;
	cursor:pointer;
	padding-top: 15px;
    /* color: #9c9c9c; */
    color: #737373;
	border-left: 5px solid transparent;
}
.left-menu ul li span{
	display:block;
	font-size:11px;
	padding: 2px 0;

}
.left-menu ul li:nth-child(4) span{
	display:block;
	font-size:11px;
	padding: 2px 0;

}
.left-menu ul li.active{
	border-left-color: #F3847C !important;  
    color: #ec9892;
}
.left-menu ul li:hover{
	position:relative;
	top:1px;
	border-left-color: #F3847C !important;  
    color: #ec9892;
}
.menu-extend .header{
	height:30px;text-align:center;background:#efefef;padding: 4px;
	padding: 6px 0;
    background: #ec9892;
    color: #fff;}
.menu-extend .header i{ 
	padding: 0 5px;
}
.menu-extend{
	width:200px;
	height:100px;
	background:#fff;
	position:absolute;
	z-index:2;
	left:6%;
	border:1px solid #efefef;
	display:none;
}
.menu-extend ul{width:100%;}
.menu-extend ul li{
    width: 100%;
    border-bottom: 1px solid #DEDEDE;
    text-align: center;
    cursor: pointer;
    padding: 12px;
    color: #9c9c9c;
    border-left: 3px solid transparent;
    font-size: 12px;
}
/* Filter Bar */
.filter-bar{
	height: 30px;
	/* border-bottom: 1px solid #dedede; */
	/* border-bottom: 2px solid #fff; */
	overflow:hidden;
	padding:6px 0px;
}
.filter-bar ul{height:30px;}
.filter-bar ul li.ts{font-size:12px;padding: 6px 0px;}
.filter-bar ul li.filter{}

/* Main Container */
/* .wrapper{background:#F0F0F0} */
.wrapper{background:#ecF0F5}
.main-container{
	height: 83vh !important; 
	overflow:auto;
	padding: 10px;
	}
.container{margin-bottom:10px;}

/* Containers */
.container .header {
    background-color: #fff;
    /* padding: 10px 0px; */
    /* padding: 6px 0px; */
    padding: 5px 0px;
    border-bottom: 1px solid #efefef;
}
.container .header .icons ul{margin: 5px;}
.container .header .icons ul li{margin: 0px;margin-left: 10px;}
.container .header .icons ul li i{cursor:pointer;font-size: 11px;color: #A0A0A0;}
.container .body {
	width:100%;
	float:left;	
    background-color: #fff;
	margin:0px;
	padding:10px;
    /*border-bottom: 1px solid #efefef;*/
}
/* Copyright */
.copyright{
    background-color: #fff;
    width: 100%;
    z-index: 2;
    /* height: 20px; */
    height: 23px;
    font-size: 11px;
	/* padding: 2px 10px; */
	padding: 4px 10px;
	bottom:0px;
	position:fixed;
	background-color: rgba(222, 222, 222, 0.33) !important;   /*added newly */
}
/* KPI */
.full{
width:100%;
}

/* Table */
table{width:100%;border:0px;}
thead{background:transparent !important;}
thead tr{background:transparent !important;border-bottom:1px solid #efefef;}
tr{background:transparent !important;border-bottom:1px solid #f8f8f8;}
td{background:transparent;}


/* Form Elements */
.form .flabel {
    text-align: right;
    font-size: 14px;
    height: 30px;
    overflow: hidden;
    padding: 3px 0px;
    color: #909090;
}
input{
	margin:0px;
	font-size:12px;
	width: 100%;
}
input[type="text"],input[type="password"] {
    background-color: transparent !important;
    border: 1px solid #EFEFEF !important;
    box-shadow: none;
	border: 1px solid #efefef;
    border-radius: 3px;
    height: 30px;
}
input[type="file"] {
    padding: 4px 0px;
	border: 1px solid #efefef;
    border-radius: 3px;
    height: 30px;
}
select {
    background-color: #fff !important;
    height: 25px;
    padding: 0px;
    font-size: 12px;
    border-color: #efefef;
    border-radius: 3px;
}
.wrap{
	margin-bottom:0px;
}
.kpi-2{
	height: 8em;
    padding: 5px 0;
	color: white;
}
.number{
	font-size: 26px;
    font-family: Roboto;
}
.small-number{
	font-size: 20px;
    font-family: Roboto;
}
.icon{
	position: absolute;
    /* line-height: 7; */
    top: 75%;
    color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.icon i{
	float: right;
    font-size: 45px;
    /* z-index: 13; */
    line-height: 0;
    /* opacity: 0.2; */
    vertical-align: bottom;
}

.kpi-3{
	/* height: 5.5em; */
	height: 4.8em;
    padding: 0;
    color: white;
    border-radius: 3px;
	
}
.pad-right{padding-right:20px;}
.kpi-3 div:nth-child(1){
	padding: 10px;
    text-align: center;
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.kpi-3 div:nth-child(1) span{
	line-height: 2.2;
}
.kpi-3 i {
	/* font-size: 32px; */
	font-size: 25px;
    line-height: 1.5;
    color: white;
}
.kpi-3 div:nth-child(2){
	    padding: 10px;
}
.kpi-3 span{
	display:block;
	/* line-height:1.2; */
	line-height:1.0;
	margin-bottom: 6px;
}
.kpi-3 .title{
	/* font-size: 14px; */
	font-size: 13px;
    line-height: 1;
}
.img-body, .img-list{
	height:100%;
	padding:10px;
	background:white;
}
.img-list{
	padding:0;
	/* border-left:1px solid #ddd; */
}
.img-list ul{
	padding:10px;	
}
.img-list ul li{
border-bottom:1px solid #ddd;
/* padding: 5px; */
}
.img-list .header{
padding:10px;
margin-bottom: 10px;
}
.img-list ul li span{
    padding: 6px;
    float: right;
    position: relative;
    top: 6px;
    border-radius: 50%;
}
.tab-links{
	padding: 5px 10px 4px 10px;
    /* background: #ddd; */
    position: relative;
    /* top: 10px; */
    cursor: pointer;
    float: right;
	border-bottom: 2px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;	
}
.active-links{
	border-bottom: 2px solid red !important;
}
/*-----------------------------------------------------------------------------------------------------*/
::-webkit-scrollbar {
    width: 12px;
	
}

::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
}

::-webkit-scrollbar-track {
    border-width: 0;
}

::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}


::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}

::-webkit-scrollbar-track:horizontal {
    border-width: 4px 0 0;
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(220,172,0,.05);
    box-shadow: inset 1px 0 0 rgba(220,172,0,.1);
}

::-webkit-scrollbar-track:horizontal:hover {
    box-shadow: inset 0 1px 0 rgba(220,172,0,.1);
}

::-webkit-scrollbar-track:active {
    background-color: rgba(220,172,0,.05);
    box-shadow: inset 1px 0 0 rgba(220,172,0,.14),inset -1px 0 0 rgba(220,172,0,.07);
}

::-webkit-scrollbar-track:horizontal:active {
    box-shadow: inset 0 1px 0 rgba(220,172,0,.14),inset 0 -1px 0 rgba(220,172,0,.07);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(220,172,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(220,172,0,.1),inset 0 -1px 0 rgba(220,172,0,.07);
}

::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 1px 1px;
    padding: 0 0 0 100px;
    box-shadow: inset 1px 1px 0 rgba(220,172,0,.1),inset -1px 0 0 rgba(220,172,0,.07);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(220,172,0,.4);
    box-shadow: inset 1px 1px 1px rgba(220,172,0,.25);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(220,172,0,0.5);
    box-shadow: inset 1px 1px 3px rgba(220,172,0,0.35);
}

::-webkit-scrollbar-track {
    border-width: 0 1px 0 6px;
}

::-webkit-scrollbar-track:horizontal {
    border-width: 6px 0 1px;
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(220,172,0,.035);
    box-shadow: inset 1px 1px 0 rgba(220,172,0,.14),inset -1px -1px 0 rgba(220,172,0,.07);
}

::-webkit-scrollbar-thumb {
    border-width: 0 1px 0 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 0 1px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

body::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 0 0 0 3px;
    box-shadow: inset 1px 0 0 rgba(220,172,0,.14),inset -1px 0 0 rgba(220,172,0,.07);
}

body::-webkit-scrollbar-track-piece:horizontal {
    border-width: 3px 0 0;
    box-shadow: inset 0 1px 0 rgba(220,172,0,.14),inset 0 -1px 0 rgba(220,172,0,.07);
}

body::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 5px;
}

body::-webkit-scrollbar-thumb:horizontal {
    border-width: 5px 1px 1px;
}

body::-webkit-scrollbar-corner {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 3px 0 0 3px;
    box-shadow: inset 1px 1px 0 rgba(220,172,0,.14);
}
 .buttonlist ul li {
    float: left;
    width: 100%;
	margin-bottom:3px;
}
.pull-right {
    float: right;
    padding: 4px;
}
	
