.top-menu {
    padding: 8px 8px 8px 15px;
}
.main-container{
	padding:12px;
	padding-top:5px;
}

.pad-right{
padding-right:10px;
}
#system-overview{
/* height:75%; */
height:455px;
}
#solar-efficiency {
/* height:20%; */
height:150px;
}
#solar-efficiency1 {
/* height:80%; */
height:285px;
}
#solar-efficiency-generation{         /*new style*/
/* height:30%; */
height:184px;
}
#solar-efficiency-generation1{         /*new style*/
height:48%;
}
#solar-efficiency .body{
	/* height: 61%; */
	height:103px;
}
#solar-efficiency1 .body{
	height: 87%;
}
#solar-efficiency-generation .body{     /*new style*/
	/* height: 75%; */
	height:136px;
}

#solar-efficiency  img{
	width: 86%;
	height: 95%;
}

#charge-hours{
    line-height: 1;
}
#load-graph .body{         /*new style */
height:29%;
}
#bci{
height:50%;
}
/*------------------------------------------------------------------------------------------------------ */
.tabs {
    margin-bottom: 0 !important;
    margin-left: 118px;
    margin-top: 9px;
}
.display-tab {
    background: green;
    padding: 5px;
    padding-left: 39%;
}
.tabs dd, .tabs .tab-title {
    position: relative;
    margin-bottom: 0 !important;
    list-style: none;
    float: left;
}
ul.tabs {
  list-style-type: none;
  margin: -20px;
  padding: 0;
}
ul.tabs li {
  border: 1px solid;
  border-bottom: none;
  float: left;
  margin: 0 .25em 0 0;
  padding: .25em .5em;
  background-color:gainsboro;
}

.tabs a:hover, .tabs a.active{
  background: #C0C0C0;
  color: #fff;
}
ul.tabs li a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
ul.tabs li.active {
  background: gray;
}
ul.tabs li.active a {
  color: white;
}
.clr {
  clear: both;
}
.tabs a{
  cursor: pointer;
  padding: 5px;
  background: #fff;
  color: #000;
  border: 1px solid #C0C0C0;
  border-bottom: 1;
  padding-right: 21px;
  border-radius: 6%;
  background-color:#F0F0F0;
  text-align:center;
}
.weather-stats div{
	text-align: center;
	border-right: 1px dotted #ddd;
}
.weather-stats div:last-child{
	border-right: 0px;
}
.wi{
	font-size:25px;
	padding: 10px 10px 0;
}

/* -----------------------------------------------------battery style--------------------------------------------------  */
#battery-hrs{
text-align:center;
display:block;
}
.battery{
	height: 70%;
	padding:0;
		padding-top: 6%;
}
.batteryy{
	height: 70%;
	padding:0;
}
.batteryy1{
	height: 100%;
	padding:0;
}
.battery-head{
	padding: 1px;
    width: 20%;
    left: 39%;
    background-color: #ddd;
    height: 3%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.battery-body{
	height: 90%;
    width: 100%;
    padding: 5px;
    background-color: #ddd;
    border-radius: 4px;
}
.battery-charged{
	height: 100%;
    padding: 0px;
    /*background-color: orange;*/
}
.battery-uncharged{
	/*height: 70%; */
    padding: 0px;
    background-color: rgb(158, 156, 156);
}

.marginright{
	border:1px solid;height:15%;
	background-color:grey; 	
}
.nv-axis .tick line {
        display:none;
}
.title1{
	font-family:Roboto;    /*Roboto*/
	font-size:30px;	
}
.bold{
	font-weight:bold;
}

/*------------------------------------------------------------------------------------------------------------ */
#cs{
    width: 50%;
    height: 20%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: relative;
    float: none;
}
#bvt{
   /* width: 50%;*/
    height: 20%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: relative;
    float: none;
}
#bi{
    width: 50%;
    height: 25%;
    overflow: auto;
    margin: auto;
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.threshold:after {
    content: "\00b0"
}
#charge-remaining{
    width: 100%;
    height: 35%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: relative;
    float: none;
	text-align: center;
	margin-bottom: 10px;
}

input[type="checkbox"]{
	width:auto;
}

.tag {
   float: left;
   position: absolute;
   top: 18%;

}
.tag1 {
    position: absolute;
    top: 34%;
}
.tag2 {
    position: absolute;
    top: 28%;
    left: 68%;
}
.tag3 {
     position: absolute;
    left: 68%;
   /* border: 1px solid red;*/
    height: 15%;
    bottom: 0px;
    height: 11%;
}
.tag4 {
     position: absolute;
    /* top: 40%; */
    left: 10%;
    /*border: 1px solid red;*/
    height: 15%;
    bottom: 0px;
    height: 11%;
}
.btn{
    width: 65px;
    height: 27px;
    text-align: center;
    font-size: 60px;
    border-radius: 10px;
    /* line-height: 100px; */
	padding: 5px;

}
.btn1{
    width: 65px;
    height: 27px;
    text-align: center;
    font-size: 60px;
    border-radius: 5px;
    /* line-height: 100px; */
	padding: 5px;

}
.btn a{
	cursor: pointer;
	color:white;
	text-decoration:none;
}
.color{
	background-color:#F8F8F8  ;
}
.color:hover{
	cursor: pointer;
	background-color:#E0E0E0 ;
}
.facebook-button {
  background: url('facebook-logo.png') left center no-repeat;
  padding-left: 15px;
}
.refresh-button{
	    padding: 5px 10px 4px 10px;
    /* background: #ddd; */
    position: relative;
    top: 0px;
    cursor: pointer;
    float: right;
    border-bottom: 2px solid #ddd;
	border-top:1px solid #B8B8B8 ;
	border-left:1px solid #B8B8B8 ;
	border-right:1px solid #B8B8B8 ;
	border-top-right-radius:2px;
	border-top-left-radius:2px;
}
.refresh-button:hover{
	border-bottom: 2px solid gray;
}
.battery-charge-indicator{
	cursor:pointer;
	title:hi;
}
.space{
	padding:10px;
}
.arrow-down{
	color:crimson;
}
.wi1{
	font-size:50px;
	padding: 0px 11px;
	color:green;
}
.wi2{
	font-size:5em;
	padding: 0px 11px;
	color:red;
}
.nvd3 .nv-axis.nv-x path.domain {
  stroke-opacity: 0.5;
  opacity:0.5;
}
svg text {
    fill: gray;
	size:0.2px;
	
}
.nv-point {
    stroke-opacity: 0.5!important;
    stroke-width: 2px!important;
    fill-opacity: 0.5!important;
}	
/* .nvtooltip { margin-left:-100px; }	
.nvtooltip { margin-right:-100px; } */

.nvtooltip {
  position: absolute;
  background-color: rgba(255,255,255,1);
  padding: 10px;
  border: 1px solid black;
  font-family: Roboto;
  font-size: 15px;
}
.nvd3 g.nv-groups path.nv-line {
  stroke-width: 2px;
}
.tick {
  opacity: 5;
}
.submit{
	border-bottom-color:white;
	background-color:white;
	border-radius:0.1px;
}

.close-btn {
    border: 1px solid black;
    position: relative;
    padding: 1px 5px;
    
    background-color: #605F61;
    
    border-radius: 20px;
}

.close-btn a {
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.user-menu img {
    height: 27px;
    /* margin-top: -2px; */
    margin-right: 5px;
    border-radius: 17px;
}
.user {
    text-transform: capitalize;
}
.a{
    color: #777777;
    margin: 0;
    font-size: 12px;
}
#account{
	font-family:Roboto;
	padding:5px;
	padding-left:10px;
	color:#777777;
}
select {
    border: 1px solid #ddd;
    color:#fffff;
/*  font-size: 20px;*/
   /*  padding: 2px 10px; */
   font-family : Roboto;
   padding-left:5px !important;
}
select option {
    /* margin:40px; */
    background: #ddd;
    color:black;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
	text-align:center;
}


@media screen and (max-width: 767px) {
    .main-container{
		height:100% !important;
	}
}

/*-----------------------------------progress bar ---------------------------------------------*/
#progress {
	position:fixed;
	z-index:2147483647;
	top:0;
	left:-6px;
	width:0%;
	height:2px;
	background:#b91f1f;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	-moz-transition:width 500ms ease-out,opacity 400ms linear;
	-ms-transition:width 500ms ease-out,opacity 400ms linear;
	-o-transition:width 500ms ease-out,opacity 400ms linear;
	-webkit-transition:width 500ms ease-out,opacity 400ms linear;
	transition:width 500ms ease-out,opacity 400ms linear
}
#progress.done {
	opacity:0
}
#progress dd,#progress dt {
	position:absolute;
	top:0;
	height:2px;
	-moz-box-shadow:#b91f1f 1px 0 6px 1px;
	-ms-box-shadow:#b91f1f 1px 0 6px 1px;
	-webkit-box-shadow:#b91f1f 1px 0 6px 1px;
	box-shadow:#b91f1f 1px 0 6px 1px;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%
}
#progress dd {
	opacity:1;
	width:20px;
	right:0;
	clip:rect(-6px,22px,14px,10px)
}
#progress dt {
	opacity:1;
	width:180px;
	right:-80px;
	clip:rect(-6px,90px,14px,-6px)
}
@-moz-keyframes pulse {
	30% {
		opacity:1
	}
	60% {
		opacity:0
	}
	100% {
		opacity:1
	}
}
@-ms-keyframes pulse {
	30% {
		opacity:.6
	}
	60% {
		opacity:0
	}
	100% {
		opacity:.6
	}
}
@-o-keyframes pulse {
	30% {
		opacity:1
	}
	60% {
		opacity:0
	}
	100% {
		opacity:1
	}
}
@-webkit-keyframes pulse {
	30% {
		opacity:.6
	}
	60% {
		opacity:0
	}
	100% {
		opacity:.6
	}
}
@keyframes pulse {
	30% {
		opacity:1
	}
	60% {
		opacity:0
	}
	100% {
		opacity:1
	}
}
#progress.waiting dd,#progress.waiting dt {
	-moz-animation:pulse 2s ease-out 0s infinite;
	-ms-animation:pulse 2s ease-out 0s infinite;
	-o-animation:pulse 2s ease-out 0s infinite;
	-webkit-animation:pulse 2s ease-out 0s infinite;
	animation:pulse 2s ease-out 0s infinite
}
#bordertop{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
#borderbottom{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;	
	box-shadow: 0px 2px 0px #D2CFCF;
}
.borderbottomm{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 2px 0px #D2CFCF;	
}
.background-transparent{
	background:transparent !important;
}
.left-top-radius{
	border-radius:5px 0px 0px 5px;
	box-shadow: 0px 2px 0px #D2CFCF;
}
.right-top-radius{
	border-radius:0px 5px 5px 0px;
	box-shadow: 0px 2px 0px #D2CFCF;
}
/*------------------------------------------------------------------------------------------------*/
/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
#footer {
    position: absolute;
    bottom: 0px; 
}
body > .inner {
  display: none;
}

body.pg-loaded > .inner {
  display: block;
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
.sk-circle {
  margin: 100px auto;
  width: 50px;
  height: 45px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: black;  /*default: #333*/
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
select option {
    /* margin:40px; */
    background: white;
    /* color:#fff; */
    /* text-shadow:0 1px 0 rgba(0,0,0,0.4); */
}
/* Tooltip container */
.tooltip1 {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip1 .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    /* padding: 3px 4px; */
	padding-top:15px !important;
	padding-left:2px !important;
    border-radius: 2px;
	font-size:13px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip1 .tooltiptext::after {
    content: "";
     /* position: absolute;  */
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip1:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.sitelogbutton{
	position: absolute;
    top: 50%;
    width: 50%;
    border-radius: 0px !important;
    left: 150px;
	background: yellowgreen;
	color: #fff;
    font-weight: bold;
}
.sitelogbutton1{
	position: absolute;
    top: 35%;
    width: 50%;
    border-radius: 0px !important;
    left: 150px;
	color: #fff;
    font-weight: bold;
}
.log{
	position: absolute;
    width: 15%;
	left:100px;
}
.actionstaken{
	position:relative;
	width:60%;
}
.actionstaken1{
	position:relative;
	width:60%;
}
::-webkit-input-placeholder {
    color:rgba(0, 0, 0, 0.5);
}
input[type="date"]{
	-webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 33px;
    margin: 0 0 1rem 0;
    padding: 8px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color 0.15s linear,background 0.15s linear;
    -moz-transition: border-color 0.15s linear,background 0.15s linear;
    -ms-transition: border-color 0.15s linear,background 0.15s linear;
    -o-transition: border-color 0.15s linear,background 0.15s linear;
    transition: border-color 0.15s linear,background 0.15s linear;
}
select{
	border:1px solid rgba(221, 221, 221, 0.43);
}
.count{
	display:block;
    font-weight: 900;
    font-size: 17px; 
	/*display: block;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    margin: 28px 0 20px;	 */
}
.bot{
	border-bottom:1px solid #ddd;
}
#scroll{   
    padding:5px;
    width:100%;
    height:339px;
    overflow-y:scroll;
}
#contents tr:nth-child(even) {
    background-color: #FBFBFB !important;
    /* background-color: yellowgreen !important;
	color:white !important; */
}
#systemalertlog tr:nth-child(even) {
    background-color: rgba(221, 221, 221, 0.12);
}
#contents {
	/* box-shadow:4px 4px 11px 0.2px; */
	box-shadow: 0px 0px 2px 0.8px #ccc;
}
#createtable tr{
	border-bottom:0px;
}
/* .left-menu ul li span{
	color:#999999;
} */
#overviewtable tr td {
    display: table-cell;
    line-height: 1rem;
	/* border-bottom:1px solid #ddd; */
}

#systemalertlog tr td {
    display: table-cell;
    line-height: 1rem;
	color: #999999;
}
#systemalertlog tr i {
    /* color: rgba(221, 221, 221, 0.6); */
    color: #C7DEE4;
    font-size: 20px;
}
#systemalertlog tr td:nth-child(2) {
    font-size:10px;
	color:#5e5e5e;
}
#systemalertlog tr td:nth-child(3) {
    font-size:12px;
	color:rgba(34, 34, 34, 0.9);
}


.orders-container {
    position: relative;
    padding: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    /* margin-bottom: 30px; */
	height:100%;
}
.orders-container .orders-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.orders-container .orders-list .order-item {
    position: relative;
    padding: 7px 10px 5px 0px;
    vertical-align: top;
    border-bottom: 1px solid #e5e5e5;
}
.orders-container .orders-list .order-item .item-left {
    padding-right: 0;
}
.orders-container .orders-list .order-item .item-left .item-booker {
    margin: 6px 0;
    color: #666;
	font-size: 12px;
}
.orders-container .orders-list .order-item .item-left .item-time {
    font-size: 11px;
    margin-bottom: 5px;
    color: #999;
}
.orders-container .orders-list .order-item .item-left .item-time span{
    margin-left:10px;
}
.orders-container .orders-list .order-item .item-right {
    padding-left: 0;
    text-align: center;
}
.orders-container .orders-list .order-item .item-right .item-price {
    font-size: 13px;
    margin: 17px auto;
    color: #666;
}

.orders-container .orders-list .order-item .item-more {
    position: absolute;
    right: -10px;
    -lh-property: 0;
    top: -webkit-calc(50% - 13px);
    top: -moz-calc(50% - 13px);
    top: calc(50% - 13px);
    width: 25px;
    height: 25px;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #fff;
    vertical-align: middle;
    /* color: #2dc3e8; */
    color: #cf2a0e;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}
.orders-container .orders-list .order-item .item-more i {
    font-size: 17px;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
/* .orders-container .orders-list .order-item:hover{
	background-color:#fbfbfb; 
} */
.orders-container .orders-list .order-item:hover:before{
	display:block;
	border-left:1px solid yellowgreen;
}
.orders-container .orders-list .order-item.top:hover:before{
	background-color:#fb6e52;
	border-left:1px solid yellowgreen;
}
.orders-container .orders-footer {
    position: relative;
    background-color: #fff;
    /* height: 34px; */
    height: 37px;
    padding: 10px;
    text-align: center;
    /* background-color: #fbfbfb; */
    background-color: #fff;
    bottom: 0px;
    width: 100%;	
}
.orders-container .orders-footer a {
    margin: 0 auto;
    font-size: 11px;
    color: #999;
    font-weight: 500;
}
.orders-container .orders-footer .help {
    position: absolute;
    right: 0;
    top:2px;
    width: 37px;
    height: 37px;
    border-left: 1px solid #e5e5e5;
    text-align: center;
    padding: 8px;
}
.orders-container .orders-footer a {
    margin: 0 auto;
    font-size: 11px;
    color: #999; 
    /* color: black; */
    font-weight: 500;
}
.orders-container .orders-footer .help a i {
    font-size: 15px;
    color:#999;
}
/* -------------------------------------------------------------------------*/
#log_details li span:nth-child(1){
	font-size:13px;
    display: block;
    position: relative;	
	color: #999;
	margin: 0px;
	color:#e7e7e7;
}
#log_details li span:nth-child(2){
	font-size:12px;
    display: block;

    position: relative;	
	color: #5e5e5e;
	border-bottom:1px solid rgba(221, 221, 221, 0.62);
	color:white;
}
/*---------------------------------------------------------------------------*/
#overview  tr{
	/* border-top: 1px solid #e7e7e7; */
}
#overview  tr th{
	text-align:center;
	color: black;
	border-bottom:3px solid #ed4e2a ;
    font-size: 13px;
    font-weight: 600;	
}
#overview  tr td{
	text-align:center;
	color: rgba(0, 0, 0, 0.77);
	font-size:13px;
	border-top:1px solid #ddd;
}
#overview  tr :hover{
	background-color:#ddd !important;
}
/* #overview tr:nth-child(odd){
	background-color:rgba(221, 221, 221, 0.36) !important;
} */

/* #overview {
    counter-reset: rowNumber -1;
}

#overview tr {
    counter-increment: rowNumber;
}

#overview tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 5em;
	position:relative;
	left:0px;
} */

#close_overviewlist{
    position: absolute;
    top: 4px;
    color: #222;
    font-size: 20px;
    right: 5px;
}
#show_alll  tr td{
	text-align:center;
	color: rgba(0, 0, 0, 0.77);
	font-size:13px;
	border-top:1px solid #ddd;
}
#show_alll  tr th{
	text-align:center;
	color: black;
	border-bottom:3px solid #11a9cc ;
    font-size: 13px;
    font-weight: 600;	
}
#close_overviewlist1{
    position: absolute;
    top: 4px;
    color: #222;
    font-size: 20px;
    right: 5px;
}
/* ------------------------------------------------------------*/
.orders-list li:nth-child(even){
	background-color:#fbfbfb;
}

/* ---------------------------------Modal Class ---------------*/
.modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
    color: #000;
    background-color: #fff;
    border: rgba(0,0,0,0);
}
.modal-primary .modal-header {
    border-bottom: 3px solid #4374e0;
}
.modal-header {
    padding: 10px 15px 10px 20px;
    background-color: #f5f5f5;
}
.modal-header {
    padding: 15px;
    border-bottom: 3px solid #cf2a0e;
}
.modal-header .close {
    font-size: 26px;
}
.modal-content .close {
    font-size: 26px;
}
.modal-header .close {
    margin-top: -2px;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 16px;
    color: #5e5e5e;	
}
.modal-body {
    position: relative;
    padding: 15px;
	color: rgba(94, 94, 94, 0.61);	
}
.modal-footer {
    padding-top: 12px;
    padding-bottom: 14px;
    border-top: 0;
    background-color: #f5f5f5;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.btn-warning, .btn-warning:focus {
    background-color: #f4b400 !important;
    border-color: #f4b400;
    color: #fff;
}
.btn, .btn-default, .btn:focus, .btn-default:focus {
    color: #444;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    position: relative;
    display: inline-block;
    color: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
    font-size: 13px;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn {
    display: inline-block;
    padding: 0px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.btn-primary, .btn-primary:focus {
    background-color: #427fed !important;
    border-color: #427fed;
    color: #fff;
}
.btn, .btn-default, .btn:focus, .btn-default:focus {
    color: #444;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    position: relative;
    display: inline-block;
    color: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
    font-size: 13px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    padding: 0px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.kwh{
	font-size:12px;
}
.percent{
	font-size:20px;
}
.gckpi{
	position:relative;
	left:30px;
}
.dataTable > thead > tr > th[class*="sort"]:after{
    content: "" !important;
}
.dataTables_filter, .dataTables_info { display: none !important; }

/*----------------------------------------------------------------------------*/

.info-line .item {
    border-left: 2px solid #dee5e7;
    position: relative;
    padding-bottom: 1px;
    border-color: #dee5e7;
    /* border-color: #009688; */
    padding-top: 5px;
}

.info-line .item > div {
    margin-left: 20px;
    margin-bottom: 10px;
	margin-top:7px;
}

.text-muted {
    color: inherit;
    opacity: .55;
}
.text-muted {
    color: #bbb;
}

.b-success {
    border-color: #73dd4d !important;
}

.info-line .item {
    position: relative;
	margin-bottom: 10px;
}
 
.info-line .item:before {
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    /* color:rgba(204, 204, 204, 0.87); */
    color:rgb(45, 195, 232);
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: -1;
}
.green-d:hover{
	display:block;
	background-size: 200% 100%;
	transition:all 1s ease !important; 
	background-position: -100% 0;	
}
.green-d {
    display:block;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #2BBAB1 50%, #16A99F 50%);  
    transition: background-position 1s;
}
.blue:hover{
	display:block;
	background-size: 200% 100%;
	transition:all 1s ease !important; 
	background-position: -100% 0;	
}
.blue {
    display:block;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #23b7e5 50%, #03A4D6 50%);  
    transition: background-position 1s;
}
.red:hover{
	display:block;
	background-size: 200% 100%;
	transition:all 1s ease !important; 
	background-position: -100% 0;	
}
.red {
    display:block;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #E36159 50%, #D8524A 50%);  
    transition: background-position 1s;
}
.yellow:hover{
	display:block;
	background-size: 200% 100%;
	transition:all 1s ease !important; 
	background-position: -100% 0;	
}
.yellow {
    display:block;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #7266BA 50%, #5647B1 50%);  
    transition: background-position 1s;
}
#get_category:hover{
	color:black !important;
	display:block !important;
	
}

/*----------------------------------------------------------------------*/
.tickets-container .tickets-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.tickets-container .tickets-list .ticket-item {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    margin-bottom: 0px;
    padding: 0 0px;
    vertical-align: top;
	margin-bottom:4px;
}
.tickets-container .tickets-list .ticket-item .ticket-user {
    height: 40px;
    padding: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tickets-container .tickets-list .ticket-item .ticket-time {
 
}
.tickets-container .tickets-list .ticket-item .ticket-user .user-avatar {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
}
.tickets-container .tickets-list .ticket-item .ticket-user .user-name {
    margin-left: 5px;
    font-size: 13px;
	color: rgba(0, 0, 0, 0.77);
}
.tickets-container .tickets-list .ticket-item .ticket-user .user-at {
    margin-left: 2px;
    color: #ccc;
    font-size: 13px;
}
.tickets-container .tickets-list .ticket-item .ticket-user .user-company {
    margin-left: 2px;
    color: #999;
}
.tickets-container .tickets-list .ticket-item .divider {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 1px;
    background-color: #eee;
    display: inline-block;
}
.tickets-container .tickets-list .ticket-item .ticket-time i {
    color: #ccc;
}
.fa-clock-o:before {
    content: "\f017";
}
.tickets-container .tickets-list .ticket-item .ticket-time .time {
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}

.tickets-container .tickets-list .ticket-item .ticket-type {
    line-height: 30px;
    height: 50px;
    padding: 10px;
}
.tickets-container .tickets-list .ticket-item .ticket-type .type {
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}
.tickets-container .tickets-list .ticket-item .ticket-state {
    position: absolute;
    top: 6px;
    right: -12px;
    height: 22px;
    width: 22px;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #e5e5e5;
    text-align: center;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    border: 2px solid #fff;
}

.bg-palegreen {
    /* background-color: #a0d468 !important; */
    background-color: rgb(124, 181, 236) !important;
}
.tickets-container .tickets-list .ticket-item .ticket-state i {
    font-size: 10px;
    color: #fff;
    line-height: 17px;
}
fa-check:before {
    content: "\f00c";
}
/*--------------------------------------------------------------------*/
.lcb-alt .btn-login {
	position:absolute;
	bottom:5px;
	left:10px;
}
.btn-float:not(.m-btn) {
    position: absolute !important;
}
.btn:not(.btn-link) {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}
.btn-float {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 45px !important;
}
.btn {
    border: 0;
    text-transform: uppercase;
}
.waves-float {
    -webkit-mask-image: none;
    -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.waves-circle {
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 50%;
}
.waves-button, .waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, #ffffff 100%, #000000 100%);
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.btn-danger {
    color: #ffffff;
    background-color: rgb(124, 181, 236);
    border-color: #f32c1e;
}
.btn {
    /* display: inline-block; */
    /* margin-bottom: 0; */
    /* font-weight: 400; */
    /* text-align: center; */
    /* vertical-align: middle; */
    /* touch-action: manipulation; */
    /* cursor: pointer; */
    /* background-image: none; */
    /* border: 1px solid transparent; */
    /* white-space: nowrap; */
    /* padding: 6px 12px; */
    font-size: 19px;
    line-height: 1.42857143;
    /* border-radius: 2px; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.btn-float:not(.bgm-white):not(.bgm-gray) > i {
    color: #fff;
}
.btn-float:not(.bgm-white):not(.bgm-gray) > i {
    color: #fff;
}
.btn-float:hover i {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.btn-float i {
    font-size: 23px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
	position:relative;
	top:6px;
}
/*------------------------------------------*/
.bg-yellow{
    /* background-color: rgb(124, 181, 236) !important; */
    background-color: #f39c12 !important;
}
.bg-white{
    background-color: white !important;
	border:1px solid #ddd !important;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}


.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    /* background-color: rgb(124, 181, 236) !important; */
    background-color: #f39c12 !important;
}
.label {
    display: inline;
    padding: .1em .5em .2em;
    font-size: 80%;
    font-weight: 100;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}	











