{% extends "flutura-theme/theme.html" %}
{% block main-container %}
{% load staticfiles %}



<!----------------------------------------------------------------------------------------------------------------------------------->
	
	<div class="large-12 medium-12 small-12 columns  no-padding pad-right">
		<div class="large-12 medium-12 small-12 container" style="height:520px;border-top:2px solid yellowgreen;border-radius: 3px;">
			<div class="columns header" style="background-color:#fff;">
				<div class="columns title" ><span><i class="fa fa-pencil-square" style="color:yellowgreen;font-size: 15px"></i></span>&nbsp;Enter Log Details</div>
			</div>
			<div class="columns body"  style="height:472px;padding:0px;">
					
				<div class="large-12 medium-12 small-12 columns" style="height:16%;">	
				
					<!-- <table>
						<tr>
							<th>Site Name</th>
							<th>Engineer Name</th>
							<th>Visit type</th>
						</tr>
						<tr>
							<td style="position:absolute;width:12%;"><select id="sitename" ><option>Malpe</option><option>Hassan</option></select></td>
							<td><input type="text" id="engineername" placeholder="Engineer name" style="width:27%;height:27px;"/></td>
							<td style="position:absolute;width:15%;"><select id="visitytpe" ><option>Maintenance</option><option>Regular Check</option></select></td>
						</tr>
					</table> -->	
					<div class="small-4 columns" style="padding:10 100 0 0">
						<span><b style="font-size: 14px;">Site Name</b></span>
						<span><select id="sitename" ><option>Malpe</option><option>Hassan</option></select></span>
					</div>
					<div class="small-4 columns" style="padding:10 100 0 60">
						<span style="margin-bottom:10px;"><b style="font-size: 14px;">Engineer Name</b></span>
						<span><input type="text" id="engineername" placeholder="Engineer name" /></span>
					</div>
					<div class="small-4 columns" style="padding:10 100 0 0">
						<span><b style="font-size: 14px;">Visit type</b></span>
						<span><select id="visitytpe" ><option>Maintenance</option><option>Regular Check</option></select></span>
					</div>
					
				</div>
				
				<div class="large-12 medium-12 small-12 columns" style="height:70%;">
					<table id="createtable" style="width:100%;background-color:white;border-collapse:collapse;">
					<tr>
						<th>Asset Condition </th>
						<th>Actions Taken </th>
						<th>Comments </th>
					</tr>
					<tr>
						<td><span >PV Panel 1 </span><span ><select id="panel1" class="actionstaken" style="float:right;right:25px;border: 1px solid #cccccc;"><option>Normal (ok)</option><option>Regular Maintenance</option><option>Asset Down (failure)</option></select></span></td>
						<td><span ><select id="actionpanel1" class="actions1taken" style="border: 1px solid #cccccc;"><option>Equipment cleaning</option><option>Asset Maintenance</option><option>Asset Replacement</option><option>NA</option></select></span> </td>
						<td> <span><input id="commentpanel1" type="text" placeholder="..." style="position:relative;width:60%;margin: 0px;border: 1px solid #cccccc !important;"/></span></td>
					</tr>
					<tr>
						<td><span>PV Panel 2  </span><span><select id="panel2" class="actionstaken" style="float:right;right:25px;border: 1px solid #cccccc;"><option>Normal (ok)</option><option>Regular Maintenance</option><option>Asset Down (failure)</option></select></span></td>
						<td><select id="actionpanel2" class="actions1taken" style="border: 1px solid #cccccc;"><option>Equipment cleaning</option><option>Asset Maintenance</option><option>Asset Replacement</option><option>NA</option></select></td>
						<td>  <span><input id="commentpanel2" type="text" placeholder="..." style="position:relative;width:60%;margin: 0px;border: 1px solid #cccccc !important;"/></span> </td>
					</tr>
					<tr>
						<td><span>SID Unit  </span><span><select id="sid" class="actionstaken" style="float:right;right:25px;border: 1px solid #cccccc;"><option>Normal (ok)</option><option>Regular Maintenance</option><option>Asset Down (failure)</option></select></span></td>
						<td> <select id="actionsid" class="actions1taken" style="border: 1px solid #cccccc;"><option>Equipment cleaning</option><option>Asset Maintenance</option><option>Asset Replacement</option><option>NA</option></select> </td>
						<td>  <span><input id="commentsid" type="text" placeholder="..." style="position:relative;width:60%;margin: 0px;border: 1px solid #cccccc !important;"/></span> </td>
					</tr>
					<tr>
						<td><span>Batteries  </span><span><select id="batteries" class="actionstaken" style="float:right;right:25px;border: 1px solid #cccccc;"><option>Normal (ok)</option><option>Regular Maintenance</option><option>Asset Down (failure)</option></select></span></td>
						<td> <select id="actionbattery" class="actions1taken" style="border: 1px solid #cccccc;"><option>Equipment cleaning</option><option>Asset Maintenance</option><option>Asset Replacement</option><option>NA</option></select> </td>
						<td>  <span><input id="commentbattery" type="text" placeholder="..." style="position:relative;width:60%;margin: 0px;border: 1px solid #cccccc !important;"/></span> </td>
					</tr>
					<tr>
						<td><span>Inverter  </span><span><select id="inverter" class="actionstaken" style="float:right;right:25px;border: 1px solid #cccccc;"><option>Normal (ok)</option><option>Regular Maintenance</option><option>Asset Down (failure)</option></select></span></td>
						<td> <select id="actioninverter" class="actions1taken" style="border: 1px solid #cccccc;"><option>Equipment cleaning</option><option>Asset Maintenance</option><option>Asset Replacement</option><option>NA</option></select> </td>
						<td>  <span><input id="commentinverter" type="text" placeholder="..." style="position:relative;width:60%;margin: 0px;border: 1px solid #cccccc !important;"/></span> </td>
					</tr>
					<tr>
						<td><span>Load  </span><span><select id="load" class="actionstaken" style="float:right;right:25px;border: 1px solid #cccccc;"><option>Normal (ok)</option><option>Regular Maintenance</option><option>Asset Down (failure)</option></select></span></td>
						<td><select id="actionload" class="actions1taken" style="border: 1px solid #cccccc;"><option>Equipment cleaning</option><option>Asset Maintenance</option><option>Asset Replacement</option><option>NA</option></select></td>
						<td>  <span><input id="commentload" type="text" placeholder="..." style="position:relative;width:60%;margin: 0px;border: 1px solid #cccccc !important;"/></span> </td>
					</tr>				
					</table>
				</div>	
				<div style="position:relative;float:right;padding:15px 15px;">
					<a role="button" aria-label="submit form" class="button" style="margin:0px;padding:10px;width:100px;background:yellowgreen;color:#fff;font-size:15px;font-weight:600;border-radiuss:2px;" id="submit">SUBMIT</a>
					
					
					
					
				</div>				
			</div>
		</div>
	</div>	
	

	
	
	
	
	
	
	
	
	

<script>
	$(".cust-info").click(function(){
		if($(this).attr("link") != "")
			$(".main-container").load($(this).attr("link") + ".html");
	});
	
	$('.tab-links').click(function(){
		parentid =$(this).parent().attr('id');
		//alert(parentid);
		$('#'+parentid+' .tab-links').removeClass('active-links');
		$(this).addClass('active-links');
		//alert($(this).text());
	
	});
</script>
{% endblock %}