{% extends "flutura-theme/theme.html" %}
{% block main-container %}
{% load staticfiles %}

<div class="large-12 columns no-padding pad-right" >
	<div class="large-12 medium-12 small-12 container" style="height:573px">
		
			<div class="large-3 medium-6 small-12 columns" style="height:40%;padding:0px;background-color:#FFF;border-radius:2px;border-bottom:2px solid #BE2C21">
				<div class="columns header">
				<div class="columns title"><span><i class="fa fa-list" style="color:#BE2C21"></i></span>&nbsp Overview</div></div>
				<div class="body" style="padding-top:2em">
					<div class="large-12 medium-12 small-12 columns">
						<div class="large-5 medium-5 small-5 columns" style='padding-top:0.5em'>
								PV cells
						</div>
						<div class="large-2 medium-2 small-2 columns">
							<!-- <input type="round-button" value="" style="background-color:#18bd9b;margin-bottom:0.5em;border-radius: 5px;width: 30px;">
						 -->
						 <svg height="25" width="25" style="cursor:pointer">
							<circle cx="15" cy="15" r="10" fill="red" />
						</svg>
							
						</div>
						<div class="large-5 medium-5 small-5 columns" >
							<i class="fa fa-chevron-right" title="check" style="cursor:pointer;padding-left:4em;padding-top:0.8em;font-size:12px;color:grey"></i>
							
						</div>
						
					</div>
					<div class="large-12 medium-12 small-12 columns" style="padding-top:0.5em;">
						<div class="large-5 medium-5 small-5 columns"  style='padding-top:0.5em'>
								Batteries
						</div>
						<div class="large-2 medium-2 small-2  columns" >
						<!-- <input type="button" value="" style="background-color:#18bd9b;margin-bottom:0.5em;border-radius:100%;width: 30px;"> -->
						 <svg height="25" width="25" style="cursor:pointer">
							<circle cx="15" cy="15" r="10" fill="red" />
						</svg>
							
						</div>
						<div class="large-5 medium-5 small-5 columns">
							<i class="fa fa-chevron-right" title="check" style="cursor:pointer;padding-left:4em;padding-top:0.8em;font-size:12px;color:grey"></i>
							
						</div>
					</div>	
					<div class="large-12 medium-12 small-12 columns" style="padding-top:0.5em;border-bottom:0.5px solid black;border-bottom:0.5em">
						<div class="large-5 medium-5 small-5 columns"  style='padding-top:0.5em'>
							Inverter
						</div>
						<div class="large-2 medium-2 small-2  columns">
						<!-- <input type="round-button" value="" style="background-color:#e94d41;margin-bottom:0.5em;border-radius: 5px;width: 30px;"> -->
						 <svg height="25" width="25" style="cursor:pointer">
							<circle cx="15" cy="15" r="10" fill="green" />
						</svg>
						
						</div>
						<div class="large-5 medium-5 small-5 columns">
							<i class="fa fa-chevron-right" title="check" style="cursor:pointer;padding-left:4em;padding-top:0.8em;font-size:12px;color:grey"></i>
							
						</div>
					</div>
					<div class="large-12 medium-12 small-12 columns" style="padding-top:0.5em">
						<div class="large-5 medium-5 small-5 columns"  style='padding-top:0.5em'>
							Loads
						</div>
						<div class="large-2 medium-2 small-2  columns">
							<!-- <input type="button" value="" style="background-color:#18bd9b;border-radius: 5px;width: 30px;"> -->
						 <svg height="25" width="25" style="cursor:pointer">
							<circle cx="15" cy="15" r="10" fill="red" />
						</svg>
						
						
						</div>
						<div class="large-5 medium-5 small-5 columns">
							<i class="fa fa-chevron-right" title="check" style="cursor:pointer;padding-left:4em;padding-top:0.8em;font-size:12px;color:grey"></i>
							
						</div>
						
					</div>	
			
					</div>
			</div>
			<div class="large-3 medium-6 small-12 columns" style="height:40%;position:relative;left:7px;padding:0px;background-color:#FFF;border-radius:2px;border-bottom:2px solid #18bd9b">
				<div class="columns header">
				<div class="columns title"><span><i class="fa fa-battery-half" style="color:#18bd9b"></i></span>&nbsp Battery cyclic efficiency</div></div>
				<div> <canvas id="canvas" height="180" width="300" style="padding-left:0.5em"></canvas></div>
				
				<!-- <div id="container" style="height:180px;width:300px;margin:0 auto"></div> -->
				<!-- <div id="container" style="min-width: 310px; height: 180px; max-width: 600px; margin: 0 auto"></div> -->

				
			</div>
			<div class="large-3 medium-6 small-12 columns" style="height:40%;position:relative;left:14px;padding:0px;background-color: #FFF;border-radius:2px;border-bottom:2px solid #FF926B">
				<div class="columns header">
				<div class="columns title"><span><i class="fa fa-industry" style="color:#FF926B"></i></span>&nbsp Frequency Threshold Breaches</div></div>
			</div>
			<div class="large-3 medium-6 small-12 columns" style="height:40%;position:relative;width:23.3%;right:-22px;padding:0px;background-color: #FFF;border-radius:3px;border-bottom:2px solid #18bd9b">
				<div class="columns header">
				<div class="columns title"><span><i class="fa fa-bullseye" style="color:#18bd9b"></i></span>&nbsp Solar Panel Efficiency</div></div>
			</div>
		
		<div class="large-9 medium-9 small-12 columns" style="height:50%;position:relative;width:74.4%;padding:0px;background-color:#FFF;border-radius:2px;border-bottom:2px solid #BE2C21;margin-top:0.5em">
				<div class="columns header">
				<div class="columns title"><span><i class="fa fa-exclamation-triangle" style="color:#BE2C21"></i></span>&nbsp System Alert Log</div></div>
				<a href="javascript:void(0)" class="btn btn-raised btn-success">Success</a>
			</div>
			<div class="large-3 medium-3 small-12 columns" style="height:50%;position:relative;padding:0px;background-color:#FFF;border-radius:2px;border-bottom:2px solid #18bd9b;margin-top:0.5em">
				<div class="columns header">
				<div class="columns title"><span><i class="fa fa-line-chart" style="color:#18bd9b"></i></span>&nbsp Load Consumption Pattern</div></div>
					<div class="checkbox">
						<span class="custom-check"><input type="checkbox" id="checkbox1">
							<label for="checkbox1">
								
							</label><span>
					</div>
							  
							  
							  
						 <div class="checkbox"><label><input type="checkbox">Checkbox</label></div>
					</div>		
					
					
			</div>
	
		

	</div>
</div>





<script>
	$(".cust-info").click(function(){
		if($(this).attr("link") != "")
			$(".main-container").load($(this).attr("link") + ".html");
	});
	$('.tab-links').click(function(){
		parentid =$(this).parent().attr('id');
		$('#'+parentid+' .tab-links').removeClass('active-links');
		$(this).addClass('active-links');
	});	
	

</script>
<script>
	 $("a[data-tab-destination]").on('click', function() {
        var tab = $(this).attr('data-tab-destination');
        $("#"+tab).click();
    });

</script>

{% endblock %}