{% extends "flutura-theme/theme.html" %}
{% block main-container %}
{% load staticfiles %}

<!------------------------------------------------ end of first row --------------------------------------------------------------------------------------->
	<!-- <div class="large-6 medium-6 small-12 columns  no-padding pad-right">
		<div class="large-12 medium-12 small-12 container" style="height:250px;border-top: 2px solid #61b6d9;border-radius: 3px;">
			<div class="columns header" style="background-color:#fff;">
				<div class="columns title"><span></span>&nbsp;Log Overview</div>
			</div>
			<div class="columns body" id="div-height" style="padding:0px;">
				<div class="large-12 columns" style="height:150px;margin:5px;top:5px;right:5px;">
					<img style="height:156px;" src='{% static "theme/img/csoon.png" %}'/>	
					
				</div>
			</div>
		</div>
	</div>
	
	<div class="large-6 medium-6 small-12 columns  no-padding pad-right">
		<div class="large-12 medium-12 small-12 container" style="height:250px;border-top: 2px solid #61b6d9;border-radius: 3px;">
			<div class="columns header" style="background-color:#fff;">
				<div class="columns title"><span></span>&nbsp;Recommended Actions</div>
			</div>
			<div class="columns body" id="div-height" style="padding:0px;">
				<div class="large-12 columns" style="height:150px;margin:5px;top:5px;right:5px;">
					<img style="height:156px;" src='{% static "theme/img/csoon.png" %}'/>	
				</div>
			</div>
		</div>
	</div>	 -->

	
	<div class="large-12 medium-12 small-12 columns  no-padding ">
		<div class="large-12 medium-12 small-12 container" style="height:250px;border-top: 2px solid rgba(67, 172, 106, 0.64);border-radius:3px;">
			<div class="columns header" style="background-color:#fff;">
				<div class="large-5 medium-6 small-12 columns title"><span><!-- <i class="fa fa-bolt" style="color:green;"></i> --></span>&nbsp;Generation 
					<div class="tooltip1"><i class="fa fa-info-circle" style="color:rgba(0, 0, 0, 0.5);"></i>
						<span class="tooltiptext">
							<li style="list-style-type: circle;">You can select only two check boxes at a time.</li>
							<li style="list-style-type: circle;">First time when you select a parameter, second parametr will be default one.</li>
						</span>
					</div>
					
					<span style="position:absolute;left:250px;font-size:12px;top:3px;">Amplify by:</span>
					<select style="position:absolute;width:20%;right:100px;" id="amplifysolarvalue">
						<option value="1">Default</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="40">40</option>
						<option value="50">50</option>
						<option value="50">75</option>
						<option value="100">100</option>
					</select>
					
				</div>
				<div class="large-7 medium-6 small-12 icons columns" id="tre">
				<!--{{ paramname }}-->
				
					<!-- Modal Code -->
					<a href="#" data-reveal-id="myModal" style="float:right !important;"><i class="fa fa-expand" style="margin:7px 0px 0px 6px;position:relative;right:-3px;color:#222;"></i></a>
					<div id="myModal" class="reveal-modal large" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">			  
						  
						 
						  <div class="large-8 medium-12 small-12 columns" id="page2demo" >
						  </div>
						 
						  
						  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
					</div>				
					<!-- End of modal -->			
				
					<span id="gendate" style="display:none;"><span style="position:absolute;left:-72px;padding:5px;font-size:12px;">Custom Date:</span><input type="date" id="gen-custmmdate" style="position:absolute;width:20%;top:0px;display:block;border-radius:4px;height:26px;margin:1px;"/></span>
					<span id="startdate_gen" style="display:none;"><span style="position:absolute;left:-64px;padding:5px;font-size:12px;">Start Date:</span><input type="date" id="gen-startdate" style="position:absolute;top:0px;width:20%;margin:-4px;display:block;"/></span>
					<span id="enddate_gen" style="display:none;"><span style="position:absolute;left:-4px;padding:5px;font-size:12px;left:22%;">End Date:</span><input type="date" id="gen-enddate" style="position:absolute;top:0px;width:20%;margin:-4px;display:block;left:31%;"/></span>
					<span id="weeavg_gen" style="display:none;"><span style="position:absolute;width:10%;right:273px;"><select id="gen_weeklyavg"><option value="avg">Avg</option><option value="min">Min</option><option value="max">Max</option></select></span></span>
					
					<span class="tab-links" id ="weekly-average-gen">Week Avg.</span>
					<span class="tab-links" id ="gen_customdate">Custom Date</span>
					<span class="tab-links active-links" id="today" style="border-left: 1px solid #ddd;">Today</span>
					
				</div>			
			</div>
			<div class="columns body" id="div-height" style="padding:0px;">
				<div class="large-3 medium-6 small-6 columns" style="border-right:1px solid #ddd;height:100%;padding:15px;">
					<form NAME="joe">
					<ul id="check_id">
						<li style="border-bottom: 1px dotted #ddd;cursor:pointer;"><span >Irradiance</span> 
						<span style="float:right;padding:5px;height:22px;"><input class="check5 irradiance" type="checkbox" name="solar" value="Bike" id="irr"   {% if 'Irradiance' in paramname %}{% endif %}  /></span>
						<span style="position:absolute;right:50px;">1022 <small>w/m<sup>2</sup></small>&nbsp;&nbsp;</span>
						</li>
						
						<li style="border-bottom: 1px dotted #ddd;cursor:pointer;"><span>Solar Voltage</span> 
						<span  style="float:right;padding:5px;height:22px;"><input class="checked solarvoltage" type="checkbox" name="solar" value="SOLARVOLTAGE" id="sv"  {% if 'Solar_Voltage' in paramname %}checked{% endif %} {% if request.get_full_path in 'http://localhost:81/health_moniter/generation' %}checked{% endif %} /><!-- <i id="manualcheckbox_gen1" style="position:absolute;right:22px;line-height11px;font-size:10px;display:inline;"class="fa fa-check"></i> --></span>
						<span  style="position:absolute;right:50px;">105.3 <small>V</small>&nbsp;&nbsp;</span>
						
						</li>
						<li style="border-bottom: 1px dotted #ddd;cursor:pointer;">Solar Current 
							<span  style="float:right;padding:5px;height:22px;"><input class="checked solarcurrent" type="checkbox" name="solar" value="SOLARCURRENT" id="sc" {% if 'Solar_Current' in paramname %}checked{% endif %} {% if request.get_full_path in 'http://localhost:81/health_moniter/generation' %}checked{% endif %} /><!--<i id="manualcheckbox_gen2" style="position:absolute;right:22px;line-height11px;font-size:10px;display:inline;"class="fa fa-check"></i>--></span>
							<span  style="position:absolute;right:50px;">9.92 <small>A</small>&nbsp;&nbsp;</span>
						</li>
						
						<li style="border-bottom: 1px dotted #ddd;cursor:pointer;">Solar Power
							<span  style="float:right;padding:5px;height:22px;"><input class="checked solarpower" type="checkbox" name="solar" value="SOLARPOWER" id="sp"    {% if 'Solar_Power' in paramname %}checked{% endif %} /></span>
							<span style="position:absolute;right:50px;">1044.1 <small>W</small>&nbsp;&nbsp;</span>						
						</li>
						<li style="border-bottom: 1px dotted #ddd;cursor:pointer;">Solar Energy 
							<span  style="float:right;padding:5px;height:22px;"><input class="checked solarenergy" type="checkbox" name="solar" value="SOLARENERGY" id="se"   {% if 'Solar_Energy' in paramname %}checked{% endif %}  /></span>
							<span style="position:absolute;right:50px;">1.44 <small>AH</small>&nbsp;&nbsp;</span>						
						</li>
						<!-- <li style="border-bottom: 1px dotted #ddd;cursor:pointer;">Panel Efficiency 
							<span  style="float:right;padding:5px;height:22px;"><input class="checked" type="checkbox" name="solar" value="Bike" id="pe"   {% if 'Panel_Efficiency' in paramname %}checked{% endif %} /></span>
							<span style="position:absolute;right:50px;">82 <small>%</small>&nbsp;&nbsp;</span>
						</li> -->
												
					</ul>
					</form>
				</div>	
				<div class="large-9 medium-6 small-6 columns" id="page21" style="min-width: 350px; height: 200px; margin: 0 auto;display:block;">
				</div>
			</div>
		</div>
	</div>

	<div class="large-12 medium-12 small-12 columns  no-padding ">
		<div class="large-12 medium-12 small-12 container" style="height:250px;border-top:2px solid rgba(0, 112, 149, 0.64);border-radius:3px;">
			<div class="columns header" style="background-color:#fff;">
				<div class="large-5 medium-6 small-12 columns title"><span><!-- <i class="fa fa-battery-full" style="color:rgba(51, 122, 164, 0.95);"></i> --></span>&nbsp;Storage-Battery<span ><input type="date" id="storage-battery-date" style="position:absolute;right:0px;top:0px;width:30%;margin:-4px;display:none;"/></span>
					<div class="tooltip1"><i class="fa fa-info-circle" style="color:rgba(0, 0, 0, 0.5);"></i>
						<span class="tooltiptext">
							<li style="list-style-type: circle;">You can select only two check boxes at a time.&nbsp;</li>
							<li style="list-style-type: circle;">First time when you select a parameter, second parametr will be default one.</li>
						</span>
					</div>				
				</div>
				<div class="large-7 medium-6 small-12 icons columns" id="batteryy">
				
					<!-- Modal Code -->
					<a href="#" data-reveal-id="myModal1" style="float:right !important;"><i class="fa fa-expand" style="margin:7px 0px 0px 6px;position:relative;right:-3px;color:#222;"></i></a>
					<div id="myModal1" class="reveal-modal large" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">			  
						  <div class="large-8 medium-12 small-12 columns" id="page2storagebatterydemo" >
						  </div>	  
						  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
					</div>				
					<!-- End of modal -->				
				
					<span id="custmdate" style="display:none;"><span style="position:absolute;left:-72px;padding:5px;font-size:12px;">Custom Date:</span><input type="date" id="storage-battery-custmmdate" style="position:absolute;width:20%;top:0px;margin:-4px;display:block;"/></span>
					<span id="startdate" style="display:none;"><span style="position:absolute;left:-64px;padding:5px;font-size:12px;">Start Date:</span><input type="date" id="storage-battery-custom-startdate" style="position:absolute;top:0px;width:20%;margin:-4px;display:block;"/></span>
					<span id="enddate" style="display:none;"><span style="position:absolute;left:-4px;padding:5px;font-size:12px;left:22%;">End Date:</span><input type="date" id="storage-battery-custom-enddate" style="position:absolute;top:0px;width:20%;margin:-4px;display:block;left:31%;"/></span>
					<span id="weeavg" style="display:none;"><span style="position:absolute;width:10%;right:273px;"><select id="weeklyavg"><option value="avg">Avg</option><option value="min">Min</option><option value="max">Max</option></select></span></span>
					<span class="tab-links" id ="storage_bat_week_avg">Week Avg.</span>
					<span class="tab-links" id ="storage_bat_customdate">Custom Date</span>
					<span class="tab-links active-links" id="storage_bat_today" style="border-left: 1px solid #ddd;">Today</span>
				</div>				
			</div>
			<div class="columns body" id="div-height" style="padding:0px;">
				<div class="large-3 medium-6 small-6 columns" style="border-right:1px solid #ddd;height:100%;padding:10px;">
					
					<ul>
						<!-- <li style="border-bottom: 1px dotted #ddd;cursor:pointer;"><span >Battery Mode</span> 
						<span style="float:right;padding:5px;height:22px;"><input class="check" type="checkbox" name="battery" value="Bike"></span>
						<span style="float:right;">Absorption &nbsp;&nbsp;</span>
						</li> -->
						
						<li style="border-bottom: 1px dotted #ddd;cursor:pointer;"><span>Battery Voltage</span> 
						<span style="float:right;padding:5px;height:22px;"><input class="check bvoltage" type="checkbox" name="battery" value="BATTERYVOLTAGE" id="bv"   {% if 'Battery_Voltage' in paramname %}checked{% endif %} {% if request.get_full_path in 'http://localhost:81/health_moniter/generation' %}checked{% endif %} /><!--<i id="manualcheckbox" style="position:absolute;right:17px;line-height11px;font-size:10px;display:inline;"class="fa fa-check"></i>--></span>
						<span  style="position:absolute;right:50px;">105.3 <small>V</small>&nbsp;&nbsp;</span>
						
						</li>
						<li style="border-bottom: 1px dotted #ddd;cursor:pointer;">Battery Current 
						<span style="float:right;padding:5px;height:22px;"><input class="check bcurrent" type="checkbox" name="battery" value="BATTERYCURRENT" id="bc"   {% if 'Battery_Current' in paramname %}checked{% endif %} {% if request.get_full_path in 'http://localhost:81/health_moniter/generation' %}checked{% endif %} /><!--<i id="manualcheckbox1" style="position:absolute;right:17px;line-height11px;font-size:10px;display:inline;"class="fa fa-check"></i>--></span>
						<span  style="position:absolute;right:50px;">9.92 <small>A</small>&nbsp;&nbsp;</span>
						
						</li>
						
						<li style="border-bottom: 1px dotted #ddd;cursor:pointer;">Battery Power
						<span style="float:right;padding:5px;height:22px;"><input class="check bpower" type="checkbox" name="battery" value="BATTERYPOWER" id="bp"   {% if 'Battery_Power' in paramname %}checked{% endif %} /></span>
						<span style="position:absolute;right:50px;">1044.1 <small>W</small>&nbsp;&nbsp;</span>						
						</li>
						
						<!-- <li style="border-bottom: 1px dotted #ddd;cursor:pointer;">Battery Energy +<small>ve</small>
						<span style="float:right;padding:5px;height:22px;"><input class="check" type="checkbox" name="battery" value="BATTERYENERGYPOSITIVE" id="be" /></span>
						<span style="position:absolute;right:50px;">1.44 <small>AH</small>&nbsp;&nbsp;</span>						
						</li>
						
						<li style="border-bottom: 1px dotted #ddd;cursor:pointer;">Battery Energy -<small>ve</small>
						<span style="float:right;padding:5px;height:22px;"><input class="check" type="checkbox" name="battery" value="BATTERYENERGYNEGATIVE" /></span>
						<span style="position:absolute;right:50px;">82 <small>%</small>&nbsp;&nbsp;</span>						
						</li> -->	
						
						<!-- <li style="cursor:pointer;">Compensated Voltage 
						<span style="float:right;padding:5px;height:22px;"><input class="check" type="checkbox" name="battery" value="COMPENSATEDVOLTAGE" /></span>
						<span style="position:absolute;right:50px;">101.4 <small>V</small>&nbsp;&nbsp;</span>
						</li> -->						
					</ul>
				</div>
				<div class="large-9 medium-6 small-6 columns" id="page2storagebattery" style="min-width: 350px; height: 200px; margin: 0 auto;display:block;">
				</div>				
			</div>
		</div>
	</div>	

	<div class="large-12 medium-12 small-12 columns  no-padding " >
		<div class="large-12 medium-12 small-12 container" style="height:250px;border-top: 2px solid rgba(207, 110, 14, 0.55);border-radius:3px;">
			<div class="columns header" style="background-color:#fff;">
				<div class="large-5 medium-6 small-12 columns title"><span><!-- <i class="fa fa-battery-half" style="color:rgba(207, 110, 14, 0.87);"></i> --></span>&nbsp;Consumption&nbsp;&nbsp;
					<select id="loadtype" style="position:absolute;width:20%;">
						<option value="Load 1">Load 1</option>
						<option value="Load 2">Load 2</option>					
					</select>
					<div class="tooltip1"><i class="fa fa-info-circle" style="color:rgba(0, 0, 0, 0.5);position:relative;left:120;"></i>
						<span class="tooltiptext">
					
							<li style="list-style-type: circle;">You can select only two check boxes at a time.&nbsp;</li>
							<li style="list-style-type: circle;">First time when you select a parameter, second parametr will be default one.</li>
							<li style="list-style-type: circle;">Select Today or Weekly Avg, and select load type. </li>
					
						</span>
					</div>					
				</div>
				<div class="large-7 medium-6 small-12 icons columns" id="consum">
		
					<!-- Modal Code -->
					<a href="#" data-reveal-id="myModal2" style="float:right !important;"><i class="fa fa-expand" style="margin:7px 0px 0px 6px;position:relative;right:-3px;color:#222;"></i></a>
					<div id="myModal2" class="reveal-modal large" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">			  
						  <div class="large-8 medium-12 small-12 columns" id="page2loaddemo" >
						  </div>	  
						  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
					</div>				
					<!-- End of modal -->		
				
					<span id="customdate_load" style="display:none;"><span style="position:absolute;left:-72px;padding:5px;font-size:12px;">Custom Date:</span><input type="date" id="load-custmmdate" style="position:absolute;width:20%;top:0px;margin:-4px;display:block;"/></span>
					<span id="startdate_load" style="display:none;"><span style="position:absolute;left:-64px;padding:5px;font-size:12px;">Start Date:</span><input type="date" id="load-startdate" style="position:absolute;top:0px;width:20%;margin:-4px;display:block;"/></span>
					<span id="enddate_load" style="display:none;"><span style="position:absolute;left:-4px;padding:5px;font-size:12px;left:22%;">End Date:</span><input type="date" id="load-enddate" style="position:absolute;top:0px;width:20%;margin:-4px;display:block;left:31%;"/></span>
					<span id="weeavg_load" style="display:none;"><span style="position:absolute;width:10%;right:273px;"><select id="load_weeklyavg"><option value="avg">Avg</option><option value="min">Min</option><option value="max">Max</option></select></span></span>
					
					<span class="tab-links" id ="load_week_avg">Week Avg.</span>
					<span class="tab-links" id ="customdatepage2load">Custom Date</span>
					<span class="tab-links active-links" id="load_today" style="border-left: 1px solid #ddd;">Today</span>
				</div>				
			</div>
			<div class="columns body" id="div-height" style="padding:0px;">
				<div class="large-3 medium-6 small-6 columns" style="border-right:1px solid #ddd;height:100%;padding:15px;">
					<form name="joe1">
					<ul>
						<li style="border-bottom: 1px dotted #ddd;cursor:pointer;"><span>Load Voltage</span> 
						<span style="float:right;padding:5px;height:22px;"><input class="check2 loadvoltage" type="checkbox" name="consumption" value="LOADVOLTAGE" id="lv" {% if 'Load_Voltage' in paramname %}checked{% endif %}  {% if request.get_full_path in 'http://localhost:81/health_moniter/generation' %}checked{% endif %} /><!--<i id="manualcheckbox_load1" style="position:absolute;right:22px;line-height11px;font-size:10px;display:inline;"class="fa fa-check"></i>--></span>
						<span  style="position:absolute;right:50px;">105.3 <small>V</small>&nbsp;&nbsp;</span>						
						</li>
						
						<li style="border-bottom: 1px dotted #ddd;cursor:pointer;">Load Current 
						<span style="float:right;padding:5px;height:22px;"><input class="check2 loadcurrent" type="checkbox" name="consumption" value="LOADCURRENT" id="lc" {% if 'Load_Current' in paramname %}checked{% endif %} {% if request.get_full_path in 'http://localhost:81/health_moniter/generation' %}checked{% endif %} /><!--<i id="manualcheckbox_load2" style="position:absolute;right:22px;line-height11px;font-size:10px;display:inline;"class="fa fa-check"></i>--></span>
						<span  style="position:absolute;right:50px;">9.92 <small>A</small>&nbsp;&nbsp;</span>						
						</li>
						
						<li style="border-bottom: 1px dotted #ddd;cursor:pointer;">Load Power
						<span style="float:right;padding:5px;height:22px;"><input class="check2 loadpower" type="checkbox" name="consumption" value="LOADPOWER" id="lp" {% if 'Load_Power' in paramname %}checked{% endif %}/></span>
						<span style="position:absolute;right:50px;">1044.1 <small>W</small>&nbsp;&nbsp;</span>						
						</li>
		
						<li style="border-bottom: 1px dotted #ddd;cursor:pointer;">Load Energy
						<span style="float:right;padding:5px;height:22px;"><input class="check2 loadenergy" type="checkbox" name="consumption" value="LOADENERGY" id="le" {% if 'Load_Energy' in paramname %}checked{% endif %}/></span>
						<span style="position:absolute;right:50px;">1044.1 <small>W</small>&nbsp;&nbsp;</span>						
						</li>

						<li style="border-bottom: 1px dotted #ddd;cursor:pointer;">Inverter Input Energy
						<span style="float:right;padding:5px;height:22px;"><input class="check2 loadenergy" type="checkbox" name="consumption" value="LOADENERGY" id="le" {% if 'Load_Energy' in paramname %}checked{% endif %}/></span>
						<span style="position:absolute;right:50px;">1044.1 <small>W</small>&nbsp;&nbsp;</span>						
						</li>

						<li style="border-bottom: 1px dotted #ddd;cursor:pointer;">Inverter Input Power
						<span style="float:right;padding:5px;height:22px;"><input class="check2 loadenergy" type="checkbox" name="consumption" value="LOADENERGY" id="le" {% if 'Load_Energy' in paramname %}checked{% endif %}/></span>
						<span style="position:absolute;right:50px;">1044.1 <small>W</small>&nbsp;&nbsp;</span>						
						</li>						
												
					</ul>
					</form>
				</div>
				<div class="large-9 medium-6 small-6 columns" id="page2load" style="min-width: 350px; height: 200px; margin: 0 auto;display:block;">
				</div>					
			</div>
		</div>
	</div>	

<script>
	$(".cust-info").click(function(){
		if($(this).attr("link") != "")
			$(".main-container").load($(this).attr("link") + ".html");
	});
	$('.tab-links').click(function(){
		parentid =$(this).parent().attr('id');
		//alert(parentid);
		$('#'+parentid+' .tab-links').removeClass('active-links');
		$(this).addClass('active-links');
		//alert($(this).text());
	
	});	
</script>
{% endblock %}