{% extends "flutura-theme/theme.html" %}
{% block main-container %}
{% load staticfiles %}

	
<!------------------------------------------------ end of first row --------------------------------------------------------------------------------------->

	<div class="large-12 medium-12 small-12 columns no-padding wrap">
		<div class="large-12 medium-12 small-12 container" style="height:58px;">
			
			 <div class="large-3 medium-6 small-12 columns no-padding pad-right" style="margin:2 0 2 0" id="kpi1">
				<div class="kpi-3 green-d">
					<div class="large-3 medium-3 small-3 columns no-padding green">
							<i class="fa fa-sun-o"></i>
					</div>
					<div class="large-9 medium-9 small-9 columns" style="padding:8 0 0 10">
						<span class="number" style="font-family: sans-serif;" id="">14 <small class="percent">nos</small></span>
						<a href="" style="color:white;"><span class="title">Alert Tracker</span></a>
					</div>					
				</div>
			</div>

			<div class="large-3 medium-6 small-12 columns no-padding pad-right" style="margin:2 0 2 0;">
				<div class="kpi-3 yellow">
					<div class="large-3 medium-3 small-3 columns no-padding yellow-d">
						<i class="fa fa-battery-three-quarters"></i>	
					</div>
					<div class="large-9 medium-9 small-9 columns" style="padding:8 0 0 10">
						<span class="number" style="font-family: sans-serif;" id="">38 <small class="percent">%</small></span>
						<span class="title">Battery Cycle Efficiency</span>
					</div>				

				</div>
			</div>

			<div class="large-3 medium-6 small-12 columns no-padding pad-right" style="margin:2 0 2 0;">
				<div class="kpi-3 blue">
					<div class="large-3 medium-3 small-3 columns no-padding blue-d">
							<i class="fa fa-battery-three-quarters"></i>
					</div>
					<div class="large-9 medium-9 small-9 columns" style="padding:8 0 0 10">
						<span class="number" style="font-family: sans-serif;" id="">66 <small class="percent">%</small></span>
						<span class="title">Solar Panel Output </span>
					</div>
				</div>
			</div>
			
			<div class="large-3 medium-6 small-12 columns no-padding pad-right" style="margin:2 0 2 0 ;">
				<div class="kpi-3 red">
					<div class="large-3 medium-3 small-3 columns no-padding red-d">
							<i class="fa fa-bolt"></i>
					</div>
					<div class="large-9 medium-9 small-9 columns " style="padding:8 0 0 10">
						<!-- <span class="number" id="">0.75 | 0.9 </span> -->
						
						<span style="font-family: sans-serif;" class="number">0.75 <small class="kwh">Kw/H</small><small class="gckpi"><small class="number"> 0.95 </small><small class="kwh">Kw/H</small></small></span>
						
						<a href="" style="color:white;"><span class="title">Generation Rate | Consumption Rate</span></a>						
					</div>
				</div>
			</div>

			
			
			
		
		</div>
		
	</div>

	<!-- End of KPI's -->
	
	<div class="large-9 medium-12 small-12 columns" style="padding:0px;">
	
	<div class="large-4 medium-12 small-12 columns  no-padding pad-right">
		<div class="large-12 medium-12 small-12 container" style="height:220px;border-top:2px solid rgba(24, 189, 155, 0.46);border-radius: 3px;">
			<div class="columns header" style="background-color:#fff;color: rgba(0, 0, 0, 0.77);">
				<div class="columns title">Overview	</div>
			</div>
			<div class="columns body buttonlist " id="" style="height:184px;padding: 0px 0px">
			<table id="overviewtable">
				<tr style="cursor:pointer;">
					<td id="Generation" style="color:rgba(0, 0, 0, 0.77);">PV Cells</td>
					<td style="position:relative;top:-5px;"><span id="Generationn" style="position:absolute;padding:5px;background:rgb(61, 154, 135);border-radius:25%;"></span></td>
					<td><a href="#" data-reveal-id="overview_list"><i id="get_category" class="fa fa-list-ul" style="position:relative;left:20%;color: rgba(0, 140, 186, 0.52);"></i></a></td>
				</tr>
				<tr style="cursor:pointer;">
					<td id="Irradiance" style="color:rgba(0, 0, 0, 0.77);">Irradiance</td>
					<td style="position:relative;top:-5px;"><span id="Irradiancee" style="position:absolute;padding:5px;background:rgb(61, 154, 135);border-radius:25%;"></span></td>
					<td><a href="#" data-reveal-id="overview_list"><i id="get_category" class="fa fa-list-ul" style="position:relative;left:20%;color: rgba(0, 140, 186, 0.52);"></i></a></td>
				</tr>
				<tr style="cursor:pointer;">
					<td id="Inverter" style="color:rgba(0, 0, 0, 0.77);">Inverter</td>
					<td style="position:relative;top:-5px;"><span id="Inverterr" style="position:absolute;padding:5px;background:rgb(61, 154, 135);border-radius:25%;"></span></td>
					<td><a href="#" data-reveal-id="overview_list"><i id="get_category" class="fa fa-list-ul" style="position:relative;left:20%;color: rgba(0, 140, 186, 0.52);"></i></a></td>
				</tr>
				<tr style="cursor:pointer;">
					<td id="Load" style="color:rgba(0, 0, 0, 0.77);">Load Voltage</td>
					<td style="position:relative;top:-5px;"><span id="Loadd" style="position:absolute;background:rgb(61, 154, 135);padding:5px;border-radius:25%;"></span></td>
					<td><a href="#" data-reveal-id="overview_list"><i id="get_category" class="fa fa-list-ul" style="position:relative;left:20%;color: rgba(0, 140, 186, 0.52);"></i></a></td>
				</tr>
				<tr style="cursor:pointer;">
					<td id="Storage" style="color:rgba(0, 0, 0, 0.77);">Battery Voltage</td>
					<td style="position:relative;top:-5px;"><span id="Storagee" style="position:absolute;padding:5px;background:rgb(61, 154, 135);border-radius:25%;"></span></td>
					<td><a href="#" data-reveal-id="overview_list"><i id="get_category" class="fa fa-list-ul" style="position:relative;left:20%;color: rgba(0, 140, 186, 0.52);"></i></a></td>
				</tr>			
			</table>
			
			<div id="overview_list" style="padding:20px;background-color:#fbfbfb;" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">				
				<div id="scroll">
				<table id="overview">				
				</table>
				</div>					
			  <a class="close-reveal-modal" id="close_overviewlist" aria-label="Close">&#215;</a>
			</div>		
			
			</div>
		</div>
	</div>

	
	<div class="large-4 medium-12 small-12 columns  no-padding pad-right">
		<div class="large-12 medium-12 small-12 container" style="height:220px;border-top: 2px solid rgba(114, 102, 186, 0.46);border-radius: 3px;">
			<div class="columns header" style="background-color:#fff;color: rgba(0, 0, 0, 0.77);">
				<div class="columns title" ><span></span>Battery Cycle Efficiency Trend</div>
			</div>
			<div class="columns body" id="" style="height:184px;padding:0px;">
					<div id="bateff" style="min-width: auto; height: 182px; margin: 0 auto;padding:0 10 0 0;"></div>
					<img style="height: 50px;position: absolute;opacity: 0.7;top: 1px;left: 1px;" src='{% static "theme/img/csoon.png" %}'/>		
			</div>
		</div>
	</div>



	<div class="large-4 medium-12 small-12 columns  no-padding pad-right">
		<div class="large-12 medium-12 small-12 container" style="height:220px;border-top: 2px solid rgba(0, 112, 149, 0.52);border-radius: 3px;">
			<div class="columns header" style="background-color:#fff;color: rgba(0, 0, 0, 0.77);">
				<div class="columns title" ><span></span>Solar Panel Output Trend</div>
			</div>
			<div class="columns body" id="" style="padding:0px;height:184px;">

									
					<div id="spop" style="min-width: auto; height: 182px; margin: 0 auto;padding:0 10 0 0;"></div>				
			</div>				
		</div>
	</div>
	
	<div class="large-6 medium-12 small-12 columns  no-padding pad-right">
		<div class="large-12 medium-12 small-12 container" style="height:229px;border-top: 2px solid rgba(153, 153, 153, 0.46);border-radius: 3px;">
			<div class="columns header" style="background-color:#fff;padding-left:0px;color: rgba(0, 0, 0, 0.77);">
				<div class="columns title" >Generation & Consumption Trend</div>   
			</div>
			<div class="columns body" id="" style="height:205px;padding:0 0 0 0;">  <!--height:193px; -->
				<div id="genconrate" style="min-width:100%; height: 170px; margin: 0 auto;padding:5 10 0 0;"></div>	
			</div>
		</div>
	</div>	
	
	<div class="large-6 medium-12 small-12 columns  no-padding pad-right">
		<div class="large-12 medium-12 small-12 container" style="height:229px;border-top: 2px solid rgba(22, 132, 198, 0.46);border-radius: 3px;">
			<div class="columns header" style="background-color:#fff;color: rgba(0, 0, 0, 0.77);">
				<div class="columns title" ><span></span>Log Trend</div>
			</div>
			<div class="columns body" id="" style="height:205px;padding:0 0 0"> <!--height:193px; -->
				
				<a href="#" data-reveal-id="logtrend">
					<div id="loggraph" style="width:100%; height: 160px; margin: 0 auto"></div>
				</a>
				
				
				<!-- Modal Code -->
				<!-- <a href="#" data-reveal-id="logtrend">Click Me For A Modal</a> -->
				<div id="logtrend" class="reveal-modal large" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
				
						<div id="click_on_bar" style="min-width: auto; height: 250px; margin: 0 auto;padding:0 10 0 0;"></div>	
						<a class="close-reveal-modal" aria-label="Close">&#215;</a>
				</div>				
				<!-- End of modal -->				
				
					
			</div>				
		</div>
	</div>	
	</div>
	
	
 	<div class="large-3 medium-12 small-12 columns  no-padding pad-right">
		<div class="large-12 medium-12 small-12 container" style="height:459px;border-top: 2px solid rgba(233, 77, 65, 0.46);border-radius: 3px;">
			<div class="columns header" style="background-color:#fff;color: rgba(0, 0, 0, 0.77);">
				<div class="columns title"><span></span>System Alert Log</div>
			</div>
			<div class="columns body"  style="height:435px;padding:0px;">  <!--height:423px; -->
			
			<div class="orders-container">
				<ul class="orders-list">
					<li class="order-item">
						<div class="row">
							<div class="large-12 medium-12 small-12 columns item-left">
								<div class="item-booker" id="prob1"></div>
								<div class="item-time">
									<i class="fa fa-calendar"></i>
									<span id="time1"></span>
								</div>
												
                            </div>
							<a class="item-more" >
                                <i class="fa fa-angle-right" id="pr1"></i>
                            </a>
						</div>

					</li>
					<li class="order-item">
						<div class="row">
							<div class="large-12 medium-12 small-12 columns item-left">
								<div class="item-booker" id="prob2"></div>
								<div class="item-time">
									<i class="fa fa-calendar"></i>
									<span id="time2"></span>
								</div>
												
                            </div>
							<a class="item-more" >
                                <i class="fa fa-angle-right" id="pr2"></i>
                            </a>
						</div>

					</li>	

					<li class="order-item">
						<div class="row">
							<div class="large-12 medium-12 small-12 columns item-left">
								<div class="item-booker" id="prob3"></div>
								<div class="item-time">
									<i class="fa fa-calendar"></i>
									<span id="time3"></span>
								</div>
												
                            </div>
							<a class="item-more">
                                <i class="fa fa-angle-right" id="pr3"></i>
                            </a>
						</div>

					</li>	

					<li class="order-item">
						<div class="row">
							<div class="large-12 medium-12 small-12 columns item-left">
								<div class="item-booker" id="prob4"></div>
								<div class="item-time">
									<i class="fa fa-calendar"></i>
									<span id="time4"></span>
								</div>
												
                            </div>
							<a class="item-more" >
                                <i class="fa fa-angle-right" id="pr4"></i>
                            </a>
						</div>

					</li>	

					<li class="order-item">
						<div class="row">
							<div class="large-12 medium-12 small-12 columns item-left">
								<div class="item-booker" id="prob5"></div>
								<div class="item-time">
									<i class="fa fa-calendar"></i>
									<span id="time5"></span>
								</div>
												
                            </div>
							<a class="item-more" >
                                <i class="fa fa-angle-right" id="pr5"></i>
                            </a>
						</div>

					</li>					
					<li class="order-item">
						<div class="row">
							<div class="large-12 medium-12 small-12 columns item-left">
								<div class="item-booker" id="prob6"></div>
								<div class="item-time">
									<i class="fa fa-calendar"></i>
									<span id="time6"></span>
								</div>
												
                            </div>
							<a class="item-more">
                                <i class="fa fa-angle-right" id="pr6"></i>
                            </a>
						</div>

					</li>
					
						
				</ul>
				
				<div class="orders-footer">
					<a href="#" data-reveal-id="myModaal" class="show-alll" ><i class="fa fa-angle-down"></i> Show All</a>
					
					<div class="help">
						<a href="#" data-reveal-id="myModal1"><i class="fa fa-question"></i></a>
						
					</div>
				</div>
				
			</div>	
			
			</div>				
		</div>
	</div> 
	
	<div id="myModaal" style="padding:20px;background-color:#fbfbfb;" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
			<div id="scroll" > 
				<table id="show_alll" class="table responsive table-striped table-bordered" align="center" >	
				</table>
			</div> 
		
		<a class="close-reveal-modal" id="close_overviewlist1" aria-label="Close">&#215;</a>
	</div>	
	
	<div id="myModal1" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		
		
		<div class="modal-content">
			<div class="modal-header">
				<span class="modal-title">Modal Title</span>
			</div>
			<div class="modal-body">
				<p><p>With More than 100 pages, components and layouts,</p>
					<p>HTML version gives you the power to start your application without depending on any specific technology. </p>
					<p>You can use HTML version to start your application in any platform and with any technology that you want.</p> 
					<p>With More than 100 pages, components and layouts,</p>
					<p>HTML version gives you the power to start your application without depending on any specific technology. </p>
					<p>You can use HTML version to start your application in any platform and with any technology that you want.</p> </p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save</button>
			</div>
		</div>		
		
		
	  <a class="close-reveal-modal" aria-label="Close" style="position: absolute;top: 45px;right: 50px;font-size: 22px;">&#215;</a>
	</div>	
	
	
<script>
	$(".cust-info").click(function(){
		if($(this).attr("link") != "")
			$(".main-container").load($(this).attr("link") + ".html");
	});
	$('.tab-links').click(function(){
		parentid =$(this).parent().attr('id');
		$('#'+parentid+' .tab-links').removeClass('active-links');
		$(this).addClass('active-links');
	});	
	
/*$('a.show-alll').on('click', function() {

  $('#myModaal').foundation('reveal','open');
	$('#show_alll').DataTable({
		"aoColumnDefs": [{"bPaginate": false, "bSortable": false, "aTargets": [0, 1, 2, 3],'pagingType':'full',"bFilter": false,"bInfo": false,"scrollY": "200px","scrollCollapse": true,"paging":false,"ordering": false,"info":  false,"searching": false,"bSearchable": false,  "columnDefs": [{ "title": "My column title", "targets": 0 }]
  }]
	}
	);
});
$('#show_alll_filter').html('');*/

	
</script>
{% endblock %}
