{% extends "flutura-theme/theme.html" %}
{% block main-container %}
{% load staticfiles %}

	
<!------------------------------------------------ end of first row --------------------------------------------------------------------------------------->

<div class="large-12 medium-12 small-12 columns no-padding pad-right">
	<div class="large-12 medium-12 small-12 container" style="height:90%">
			<div class="columns header" style="background-color:#white;">
				<div class="columns title"><span><i class="fa fa-industry"></i></span>&nbsp;Site Visit Log</div>
			</div>
			<div class="columns body" style="height:100%;background-color:white" > <fieldset>
				<div class="columns title">&nbsp;Create new Log</div>
					<div class="large-12 medium-12 small-12 columns" style="height:30%">
						<div class="large-4 medium-4 small-4 columns" style="padding-top:1em"> 
							<div class="large-4 medium-4 small-6 columns" style="padding-left:0px;margin-left:-12px"><span class="columns title" >Site:</span></div>
							<div class="large-8 medium-8 small-6 columns"> <input type="text"></div>
						</div>
						<div class="large-4 medium-4 small-4 columns" style="padding-top:1em;"> 
							<div class="large-4 medium-4 small-6 columns" style="padding-left:0px;margin-left:-12px"><span class="columns title" > Date:</span></div>
							<div class="large-8 medium-8 small-6 columns"> <input type="text"></div>
						</div>
						<div class="large-4 medium-4 small-4 columns" style="padding-top:1em"> 
							<div class="large-4 medium-4 small-6 columns" style="padding-left:0px;margin-left:-12px"><span class="columns title" > Engineer:</span></div>
							<div class="large-8 medium-8 small-6 columns"> <input type="text"></div>
						</div>
					</div>
					<div class="large-12 medium-12 small-12 columns">
						<div class="large-4 medium-4 small-6 columns">
							<div class="large-12 medium-12 small-12 columns"  style="padding-left:0px;margin-left:-13px"><div class="columns title">Asset condition</div> </div>
						</div>
						<div class="large-4 medium-4 small-4 columns">
							<div class="large-12 medium-12 small-12 columns"  style="padding-left:0px;margin-left:-13px"><div class="columns title"> Actions taken </div></div>
						</div>
						<div class="large-4 medium-4 small-4 columns">
							<div class="large-12 medium-12 small-12 columns" style="padding-left:0px;margin-left:-13px"><div class="columns title"> Comments </div></div>
						</div>
					</div>
					<div class="large-12 medium-12 small-12 columns" style="height:50%">
						<div class="large-4 medium-4 small-6 columns" style="height:80%;display:inline"> 
							PV Panel1: <select style="margin-top:0.5em;display:inline;position:relative;width:290px;padding-left:70px">
								<option value=""></option>
							</select>
							PV Panel2: <select style="margin-top:0.5em;display:inline;position:relative;width:290px;padding-left:70px">
								<option value=""></option>
							</select>
							SID unit:&nbsp &nbsp &nbsp <select style="margin-top:0.5em;display:inline;position:relative;width:290px;padding-left:70px">
								<option value=""></option>
							</select>
							Batteries:&nbsp &nbsp <select style="margin-top:0.5em;display:inline;position:relative;width:290px;padding-left:70px">
								<option value=""></option>
							</select>
							Inverter:&nbsp &nbsp &nbsp <select style="margin-top:0.5em;display:inline;position:relative;width:290px;padding-left:70px">
								<option value=""></option>
							</select>
							Load:&nbsp &nbsp &nbsp &nbsp &nbsp <select style="margin-top:0.5em;display:inline;position:relative;width:290px;padding-left:70px">
								<option value=""></option>
							</select>
						</div>
						<div class="large-4 medium-4 small-3 columns">
							<select style="margin-top:0.5em">
								<option value=""></option>
							</select>
							<select style="margin-top:0.5em">
								<option value=""></option>
							</select>
							<select style="margin-top:0.5em">
								<option value=""></option>
							</select>
							<select style="margin-top:0.5em">
								<option value=""></option>
							</select>
							<select style="margin-top:0.5em">
								<option value=""></option>
							</select>
							<select style="margin-top:0.5em">
								<option value=""></option>
							</select>

						</div>
						<div class="large-4 medium-4 small-3 columns">
							 <input type="text" style="height:26px;margin-top:0.28em;margin-bottom:0.4em">
							 <input type="text" style="height:26px;margin-bottom:0.4em">
							 <input type="text" style="height:26px;margin-bottom:0.4em">
							 <input type="text"style="height:26px;margin-bottom:0.4em">
							 <input type="text" style="height:26px;margin-bottom:0.4em">
							 <input type="text" style="height:26px;margin-bottom:0.4em">
						</div>
						<div class="large-12 small-12 columns">
							<button type="button" class="button radius" style="float:right;width:10%;height:10%;padding-top:3px;margin-top:2px">submit</button>
						</div>
							<!-- <input type="submit" style="width:60px;float:right"> -->
					</div>
			</div></fieldset>
	</div>
</div>
<script>
	$(".cust-info").click(function(){
		if($(this).attr("link") != "")
			$(".main-container").load($(this).attr("link") + ".html");
	});
	$('.tab-links').click(function(){
		parentid =$(this).parent().attr('id');
		$('#'+parentid+' .tab-links').removeClass('active-links');
		$(this).addClass('active-links');
	});	

</script>


{% endblock %}
