{% extends "flutura-theme/theme.html" %}
{% block main-container %}
{% load staticfiles %}



<!----------------------------------------------------------------------------------------------------------------------------------->
	
	<div class="large-12 medium-12 small-12 columns  no-padding pad-right">
		<div class="large-12 medium-12 small-12 container" style="height:520px;border-top:2px solid #008CBA;border-radius:3px;">
			<div class="columns header" style="background-color:#fff;">
				<div class="columns title" ><span><!-- <i class="fa fa-eye" style="color:#007095;"></i> --></span>Review Log</div>
			</div>
			<div class="columns body"  style="height:472px;padding:0px;">
					<div class="large-6 medium-6 small-6 columns" style="height:100%;box-shadow:7px 1px 19px -5px #ddd;"><!-- background:#61b6d9; -->
						<div class="large-12 medium-12 small-12 columns" style="height:12%;margin:20px 0px 20px;">
							
							<div class="large-6 medium-6 small-6 columns" style="padding-left: 3px;">
								<span> Start Date: </span>
								<div class="row collapse">
									<div class="small-9 columns">
										<input type="date" placeholder="date" id="strtdate" />
									</div>
									<div class="small-3 columns">
										 <span class="postfix" style="height:33px;width:45px;padding:10px;background: rgba(255, 255, 255, 0.5);color: #222;"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
							</div>
							<div class="large-6 medium-6 small-6 columns">
							<span> End Date: </span>
								<div class="row collapse">
									<div class="small-9 columns">
										 <input type="date" placeholder="date" id="eddate" />
									</div>
									<div class="small-3 columns">
										<span class="postfix" style="height:33px;width:45px;padding:10px;background: rgba(255, 255, 255, 0.5);color: #222;"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
							</div>							
						</div>
						<div class="large-12 medium-12 small-12 columns" style="height:80%;">
						
							<div id="scroll">
							<table id="contents" class="myTable">
						
							</table>
							</div>
						
						</div>
											
					</div>
					<div class="large-6 medium-6 small-6 columns" id="displayreview" style="height:100%;padding-right:0px;display:none;">
					
					<!-- <table>
					<tr>
						<th id="locname"></th>
						<td id="loc"></td>
						<th id="datename"></th>
						<td id="date"></td>
					</tr>
					</table> -->
					
					<table style="border-collapse:collapse;box-shadow:7px 1px 19px -5px #ddd;margin-bottom:10px;">
						
						<tr style="height: 30px;background-color:#008CBA !important;">
							<!-- <th style="color:transparent;" ></th> -->
							<th style="color:white;" id="locname"></th>
							<th style="color:white;" id="headdate"></th>
							<!-- <th style="color:transparent;">c</th> -->
						</tr>
				
						<tr class="bot">
							<th>Site:</th>
							<td id="loc"></td>
						</tr>
						<tr class="bot">	
							<th>Date of Visit:</th>
							<td id="date"></td>
						</tr>
						<tr class="bot">
							<th>Performed by:</th>
							<td id="username"></td>
						</tr>
						<tr>	
							<th>Visit Type:</th>
							<td id="visittype"></td>
						</tr>
							
					</table>
					<table style="box-shadow:7px 1px 19px -5px #ddd;" id="rtable">	
					<tr style="height: 30px;background-color:yellowgreen !important;padding:0px;">
						<th style="color:white;">Asset Name</th>
						<th style="color:white;">Asset Condition </th>
						<th style="color:white;">Actions Performed</th>
					</tr>
					<tr class="bot">
						<td><b>PV Panel 1</b></td>
						<td id="panel1condition"></td>
						<td id="panel1action"></td>
					</tr>
					<tr class="bot">
						<td><b>PV Panel 2</b></td>
						<td id="panel2condition"></td>
						<td id="panel2action"></td>
					</tr>
					<tr class="bot">
						<td><b>SID Unit</b></td>
						<td id="sidcondition"></td>
						<td id="sidaction"></td>
					</tr>
					<tr class="bot">
						<td><b>Batteries</b></td>
						<td id="batterycondition"></td>
						<td id="batteryaction"></td>
					</tr>
					<tr class="bot">
						<td><b>Inverter</b></td>
						<td id="invertercondition"></td>
						<td id="inverteraction"></td>
					</tr>
					<tr class="bot">
						<td><b>Load</b></td>
						<td id="loadcondition"></td>
						<td id="loadaction"></td>
					</tr>
					
					</table>					
					
					
					</div>					
			</div>
		</div>
	</div>
	
	
	
	
	
	
	
	
	

<script>
	$(".cust-info").click(function(){
		if($(this).attr("link") != "")
			$(".main-container").load($(this).attr("link") + ".html");
	});
	
	$('.tab-links').click(function(){
		parentid =$(this).parent().attr('id');
		//alert(parentid);
		$('#'+parentid+' .tab-links').removeClass('active-links');
		$(this).addClass('active-links');
		//alert($(this).text());
	
	});
</script>
{% endblock %}