{% extends "flutura-theme/theme.html" %}
{% block main-container %}
{% load staticfiles %}


<!----------------------------------------------------------------------------------------------------------------------------------->
	
	<div class="large-4 medium-12 small-12 columns  no-padding pad-right">
		<div class="large-12 medium-12 small-12 container" style="height:216px;border-top: 2px solid rgb(124, 181, 236);border-radius: 3px;">
			<div class="columns header" style="background-color:#fff;color: rgba(0, 0, 0, 0.77);">
				<div class="columns title"><span></span>&nbsp;Log Overview</div>
			</div>
			<div class="columns body" id="" style="padding:0px;height:180px;background-color:rgba(255, 255, 255, 0.75);;"><!--background-image: linear-gradient(to left,rgba(221, 221, 221, 0.86),#fff)-->
				<div class="large-12 medium-12 small-12 columns" style="height:100% !important;padding:10 8 0 5;border-radius: 1px;">
					
					
					<!-- <table>
					<tr>
						<td style="font-size:12px;color: #999999;">Log Issue Date:</td><td id="issue_date" style="font-size:13px;"></td>
					</tr>
					<tr>
						<td style="font-size:12px;color: #999999;">Similar Events:</td><td id="similar_events" style="font-size:13px;"></td>
					</tr>
					<tr>
						<td style="font-size:12px;color: #999999;">Log Type:</td><td id="category" style="font-size:13px;"></td>
					</tr>
					<tr>
						<td style="font-size:12px;color: #999999;">Issue Reason:</td><td id="issues" style="font-size:13px;"></td>
					</tr>
					</table> -->
					
					<div class="tickets-container">
					<ul class="tickets-list">
						<li class="ticket-item">
							<div class="row" style="height:35px;">
								<div class="large-5 medium-5 small-12 columns ticket-user">
									<span class="user-name">Log Issue Date:</span>									
								</div>
								<div class="large-7 medium-7 small-12 columns ticket-time ">
									<div class="divider hidden-md hidden-sm hidden-xs"></div>
									<span class="time" id="issue_date" style="position:absolute;top:7px;font-size:11px;"></span>
									
								</div>								
								<div class="ticket-state bg-palegreen">
									<i class="fa fa-calendar"></i>
								</div>
							</div>
						</li>
						<li class="ticket-item">
							<div class="row" style="height:35px;">
								<div class="large-5 medium-5 small-12 columns ticket-user" style="position:absolute;">
									<span class="user-name">Similar Events:</span>									
								</div>
								<div class="large-7 medium-7 small-12 columns ticket-time ">
									<div class="divider hidden-md hidden-sm hidden-xs"></div>
									
									<span class="time" id="similar_events" style="position:absolute;top:7px;"></span>
								</div>								
								<div class="ticket-state bg-palegreen">
									<i class="fa fa-hashtag"></i>
								</div>
							</div>
						</li>
						<li class="ticket-item">
							<div class="row" style="height:35px;">
								<div class="large-5 medium-5 small-12 columns ticket-user" style="">
									<span class="user-name">Log Type:</span>									
								</div>
								<div class="large-7 medium-7 small-12 columns ticket-time ">
									<div class="divider hidden-md hidden-sm hidden-xs"></div>
									
									<span class="time" id="category" style="position:absolute;top:7px;"></span>
								</div>								
								<div class="ticket-state bg-palegreen">
									<i class="fa fa-tag"></i>
								</div>
							</div>
						</li>
						<li class="ticket-item">
							<div class="row" style="height:35px;">
								<div class="large-5 medium-5 small-12 columns ticket-user" style="position:absolute;">
									<span class="user-name">Issue Reason:</span>									
								</div>
								<div class="large-7 medium-7 small-12 columns ticket-time ">
									<div class="divider hidden-md hidden-sm hidden-xs"></div>
									
									<span class="time" id="issues"></span>
								</div>								
								<div class="ticket-state bg-palegreen">
									<i class="fa fa-info"></i>
								</div>
							</div>
						</li>						
				
					</ul>	
					</div>
					
					
					
					
					
				</div>
			</div>					
		</div>
	</div>
	
	
	<div class="large-4 medium-12 small-12 columns  no-padding pad-right">
		<div class="large-12 medium-12 small-12 container" style="height:216px;border-top: 2px solid #61b6d9;border-radius: 3px;">
			<div class="columns header" style="background-color:#fff;color: rgba(0, 0, 0, 0.77);">
				<div class="columns title"><span></span>&nbsp;Log Overview Graph</div>
			</div>
			<div class="columns body" id="" style="padding:0px;height:180px;">
				<div id="log_ddetails" style="min-width: auto; height: 180px; margin: 0 auto"></div>
				
			</div>					
		</div>
	</div>	
	
	
	<div class="large-4 medium-12 small-12 columns  no-padding pad-right">
		<div class="large-12 medium-12 small-12 container" style="height:216px;border-top: 2px solid #61b6d9;border-radius: 3px;">
			<div class="columns header" style="background-color:#fff;color: rgba(0, 0, 0, 0.77);">
				<div class="columns title">
				Recommended Actions&nbsp;&nbsp;&nbsp;&nbsp;
				<span data-toggle="tooltip" title="" id="recm_count" class="badge bg-yellow text-center" data-original-title="3 New Messages"></span>		
				
				</div>
			</div>
			<div class="columns body" id="" style="padding:0px;height:180px;">
				<div class="large-12 columns" style="height:150px;margin:5px;top:5px;right:5px;padding:10px;">					
							 <div id="recommended_actions" class="info-line p-20">
                                                     
                            </div> 	
												
	
				</div>
			</div>
		</div>
	</div>		
	
	
	<div class="large-6 medium-12 small-12 columns  no-padding pad-right">
		<div class="large-12 medium-12 small-12 container" style="height:268px;border-top:2px solid #008CBA;border-radius:3px;">
			<div class="columns header" style="background-color:#fff;color: rgba(0, 0, 0, 0.77);">
				<div class="columns title" ><span><!-- <i class="fa fa-eye" style="color:#007095;"></i> --></span>Vector Graph</div>
			</div>
			<div class="columns body" id="" style="padding:0px;height:234px;">
					
					<div id="log_overview" style="min-width:100%; height: 230px; margin: 0 auto;padding:5 10 0 0;"></div>	
									
			</div>
		</div>
	</div>
	
	<div class="large-6 medium-12 small-12 columns  no-padding pad-right">
		<div class="large-12 medium-12 small-12 container" style="height:268px;border-top:2px solid #008CBA;border-radius:3px;"> 
			<div class="columns header" style="background-color:#fff;color: rgba(0, 0, 0, 0.77);">
				<div class="columns title" >
				Parameter Graph 
				<span style="position:relative;left:25%;" class="label label-danger"><span >{% if overviewdate %}<span>Date: </span>{{ overviewdate }}{% endif %} {% if paramname %}<span>Date: </span>{{ paramname }}{% endif %}</span>
				</span>
				<!-- <span style="position:relative;left:25%;">{% if overviewdate %}<span>Date: </span>{{ overviewdate }}{% endif %} {% if paramname %}<span>Date: </span>{{ paramname }}{% endif %}</span>
				 --></div>
			</div>
			<div class="columns body" id="" style="padding:0px;height:234px;">
					
					<div id="param_graph" style="min-width:100%; height: 230px; margin: 0 auto;padding:5 10 0 0;"></div>	
									
			</div>
		</div>
	</div>	
	
<div class="lc-block lcb-alt toggled">	
<a href="http://fluturaappsdev.cloudapp.net:8050/health_moniter/overview" class="btn btn-login btn-danger btn-float waves-effect waves-circle waves-float"><i class="fa fa-angle-left"></i></i></a>
</div>	
	
	
	
<input type="hidden" id="Issue" name="Issue" value="{{ issue }}" />
<input type="hidden" id="logCategory" name="logCategory" value="{{ category }}" />
<input type="hidden" id="logID" name="logID" value="{{ logid }}" />
<input type="hidden" id="overviewDate" name="overviewDate" value="{{ overviewdate }}" />
<input type="hidden" id="overviewCategory" name="overviewCategory" value="{{ overview_categry }}" />
<input type="hidden" id="overviewParamname" name="overviewParamname" value="{{ overview_paramname }}" />
<input type="hidden" id="overviewLogid" name="overviewLogid" value="{{ overview_logid }}" />
<input type="hidden" id="probData1" name="probData1" value="{{ paramname }}" />
<input type="hidden" id="paramName" name="paramName" value="{{ pname }}" />

<script>
	
	$(".cust-info").click(function(){
		if($(this).attr("link") != "")
			$(".main-container").load($(this).attr("link") + ".html");
	});
	
	$('.tab-links').click(function(){
		parentid =$(this).parent().attr('id');
		//alert(parentid);
		$('#'+parentid+' .tab-links').removeClass('active-links');
		$(this).addClass('active-links');
		//alert($(this).text());
	
	});
</script>
{% endblock %}